body{
	font-family: 'Montserrat regular', sans-serif;	font-size: 14px;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}
h1,h2,h3,h4,h5,h6{
	margin: 10px 0;
	font-family: 'Raleway Semi-Bold', sans-serif;
}
.middle_wrap{
	position: relative;
	top: 30vh;
}
.wrapper{
	background-position: top;
	background-image: url("../img/bg_slider.jpg");
	background-repeat: no-repeat;
	height: 100vh;
}
.row{
	padding: 15px 0;
}
.navbar_padding{
	padding-top: 20px;
	box-sizing: border-box;
}
.navbar_padding>li a{
	color: #fff;
	background-color: inherit;
}
.navbar_padding>li a:hover{
	color: #c7b299;
	background-color: inherit;
}
.navbar_padding>li a:focus{
	color: #c7b299;
	background-color: inherit;
	border-bottom: 2px solid #c7b299;
}
aside{
	background-color: inherit;
	color: #fff;
	margin: 20px 0;
}
.jumbotron{
	background-color: inherit;
}
.jumbotron h1{
	font-weight: bold;
	font-family: 'Raleway Extra-Bold', sans-serif;
	font-size: 51px;
}
.jumbotron h2{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
}
.jumbotron p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

section{
	margin-bottom: 50px;
}
footer img{
	width: 47px;
	height: auto;
}

section h3::after{
	left: 35%;
	display: block;
	position: relative;
	content: " ";
	top: 115px;
	width: 30%;
	height: 3px;
	background-color: #f1eee9;
}