@font-face {
  font-family: 'OpenSans-bold';
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Extrabold';
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-italic';
  src: url("../fonts/OpenSans-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-light';
  src: url("../fonts/OpenSans-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-regular';
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-semibold';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
