.navbar-fixed-top {
  position: absolute;
  height: 85px;
}

.page-header {
  border: none;
  margin: 0 20px;
}

.navbar-default {
  background-color: inherit;
}

.navbar-nav {
  padding: 20px;
}

.nav > li > a {
  font-family: 'OpenSans-regular' sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 25px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #5ac8fb;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-brand {
  padding: 30px;
}

.navbar-brand > img {
  display: inline-block;
}

.navbar-brand p {
  color: #fff;
  display: inline-block;
  padding-left: 10px;
}

.carousel-caption {
  padding-bottom: 40px;
}

.carousel-caption h1 {
  font-size: 46px;
  font-weight: bold;
}

.carousel-caption h4 {
  font-family: "OpenSans-regular";
  font-weight: 100;
}

.carousel-caption .fa {
  color: #fff;
  font-size: 24px;
}

.carousel-caption p {
  color: #000;
  border: none;
  text-shadow: none;
}

.carousel-indicators li {
  border: 1px solid #5ac8fb;
  background-color: #5ac8fb;
}

button {
  width: 120px;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.text-caption h4 {
  padding-bottom: 50px;
}

h2.text-caption {
  padding-bottom: 20px;
}

.section {
  padding-top: 50px;
}

.gallery {
  margin: 0;
  padding: 0;
}

.gallery section {
  padding: 0;
  margin: 0;
}

.gallery .img-gallery img {
  max-width: 290px;
  height: auto;
}

.skills li {
  margin-bottom: 0;
}

.progress {
  margin-bottom: 15px;
  height: 5px;
}

.img-rounded {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #5ac8fb;
}

.img-rounded img {
  padding: 30px 0;
}

.achivs img {
  padding: 20px 0;
}

.claims {
  color: #000;
  background-color: #f7f7f7;
}

.claims .item {
  margin-top: 350px;
}

.claims h1 {
  padding-top: 30px;
}

.claims h3 {
  margin: 0;
}

.claims img {
  margin-bottom: 15px;
}

.claims p {
  margin-top: 25px;
}

.content_field {
  color: #fff;
  background-image: url("../img/bg_content.jpg");
  background-repeat: repeat-y;
}

.content_field .text-caption {
  padding-top: 50px;
  padding-bottom: 0;
}

.content_field .row {
  margin: 0;
  padding: 0;
}

.content_field h4 {
  padding: 0;
}

.content_field3 {
  color: #fff;
  background-color: #333;
}

.content_field3 .text-caption {
  padding-top: 50px;
}

.content_field3 .row {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'OpenSans-bold';
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Extrabold';
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-italic';
  src: url("../fonts/OpenSans-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-light';
  src: url("../fonts/OpenSans-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-regular';
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-semibold';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1560px) {
  .ca {
    padding-bottom: 220px;
  }
}

body {
  font-family: 'OpenSans-light';
  font-size: 15px;
  color: #515151;
}

p {
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'OpenSans-regular', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

h2, h3, h4 {
  font-weight: 200;
}

span {
  padding-left: 30px;
}

section {
  padding-bottom: 50px;
}

section li {
  list-style: none;
  padding-bottom: 15px;
}

section p {
  padding-bottom: 10px;
}

img[alt="partners"] {
  -webkit-filter: grayscale(0.75);
  filter: grayscale(0.75);
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: 100;
  font-size: 23px;
}

h3 span {
  border-left: 3px solid #5ac8fb;
}

.padd_top_head {
  padding: 20px 0;
}

h4 {
  font-size: 15px;
}

.achivs .fa {
  color: #5ac8fb;
  font-size: 40px;
  padding: 20px 0;
}

.img-rounded .fa {
  font-size: 32px;
  margin: 24px auto;
}

.twitter .fa {
  color: #5ac8fb;
  padding-top: 5px;
  font-size: 30px;
  left: 15px;
  position: absolute;
}

.contacts .fa {
  font-size: 25px;
  color: #8d8d8d;
  padding: 0 5px;
}

.middle_foot_list .fa {
  color: #fff;
  font-size: 20px;
  left: 25px;
  position: absolute;
}

img[alt="i_picture"] {
  width: 60px;
  margin: 2px;
  height: auto;
}
