#from, #to {
  width: 88px;
  height: 20px;
  margin: 0 10px;
  text-align: center; }

.contant_main .openAcc {
  display: block; }

.contant_main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.contant_main__left {
  width: 25%; }
  .contant_main__left form {
    background-color: #e8e8e8;
    padding: 40px 20px 55px 20px;
    margin-bottom: 36px; }
    .contant_main__left form h3 {
      font-size: 16px;
      text-transform: uppercase;
      color: #2d2d2d; }

.contant_main__but {
  margin-top: 50px; }

.contant_main__selection {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px; }
  .contant_main__selection input {
    outline: none; }
  .contant_main__selection label {
    margin-left: 15px;
    cursor: pointer; }
  .contant_main__selection p {
    margin-bottom: 10px;
    margin-left: 30px; }

.contant_main__sup-title {
  margin-bottom: 30px;
  position: relative;
  z-index: 8;
  margin-top: 15px;
  cursor: pointer;
  background-color: #e8e8e8;
  padding-right: 28px; }
  .contant_main__sup-title span {
    font-size: 16px;
    font-weight: bold;
    background-color: #e8e8e8;
    position: relative;
    z-index: 10;
    padding-right: 33px;
    font-family: "avenir-bold", sans-serif; }
  .contant_main__sup-title::after {
    content: "";
    z-index: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f00;
    right: 0;
    top: 50%; }
  .contant_main__sup-title:nth-child(n)::before {
    content: url("../img/catalog-arrow-down.png");
    display: block;
    position: absolute;
    right: 15px;
    bottom: -8px; }
  .contant_main__sup-title:nth-child(2)::before {
    display: none;
    right: 0; }

.contant_main__sup-title-after::before {
  content: url("../img/catalog-arrow-down.png");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: block;
  position: absolute;
  right: 15px;
  bottom: -10px; }

.contant_main__title-wr {
  padding: 12px 20px;
  width: 100%;
  position: relative;
  background-color: #2d2d2d; }
  .contant_main__title-wr .left_arrow {
    position: absolute;
    right: 30px;
    top: 40%; }

.contant_main__title {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff; }

.contant_main__but {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .contant_main__but button {
    width: 160px;
    height: 30px; }

.contant_main__slide {
  margin-bottom: 25px; }

.contant_main__slide-fields {
  margin-bottom: 55px; }

.contant_main__slide-wr {
  width: 100%;
  height: 100%;
  position: relative; }
  .contant_main__slide-wr img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover; }

.contant_main__slide-title {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  top: 30%;
  line-height: 1.5em; }

.contant_main__slide-button {
  position: absolute;
  bottom: 30%;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 165px;
  height: 30px; }

.contant_main__slide-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  list-style: none;
  position: absolute; }
  .contant_main__slide-dots button {
    width: 15px;
    height: 15px;
    border: none;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    font-size: 0;
    margin: 0 3px; }
  .contant_main__slide-dots .slick-active button {
    border: none;
    background-color: #f00; }

.contant_main__right {
  width: 73%; }
