.block-class {
  display: block !important; }

#from, #to {
  width: 88px;
  height: 20px;
  margin: 0 10px;
  text-align: center; }

.contact_main__input {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  position: absolute;
  cursor: pointer; }

.contact_main__input-in {
  z-index: 100;
  display: none;
  width: 9px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 9px;
  background-color: #f00;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.contant_main .openAcc {
  display: block; }

.contant_main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.contant_main__left {
  width: 25%; }
  .contant_main__left form {
    background-color: #e8e8e8;
    padding: 40px 20px 55px 20px;
    margin-bottom: 36px; }
    .contant_main__left form h3 {
      font-size: 16px;
      text-transform: uppercase;
      color: #2d2d2d; }

.contant_main__but {
  margin-top: 50px; }

.contant_main__selection {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px; }
  .contant_main__selection input {
    opacity: 0;
    outline: none; }
  .contant_main__selection label {
    margin-left: 15px;
    cursor: pointer; }
  .contant_main__selection p {
    position: relative;
    margin-bottom: 10px;
    margin-left: 30px; }

.contant_main__sup-title {
  margin-bottom: 37.6px;
  position: relative;
  z-index: 8;
  margin-top: 15px;
  cursor: pointer;
  background-color: #e8e8e8;
  padding-right: 28px; }
  .contant_main__sup-title span {
    font-size: 16px;
    font-weight: bold;
    background-color: #e8e8e8;
    position: relative;
    z-index: 10;
    padding-right: 33px;
    font-family: "avenir-bold", sans-serif; }
  .contant_main__sup-title::after {
    content: "";
    z-index: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f00;
    right: 0;
    top: 50%; }
  .contant_main__sup-title:nth-child(n)::before {
    content: url("../img/catalog-arrow-down.png");
    display: block;
    position: absolute;
    right: 15px;
    bottom: -8px; }
  .contant_main__sup-title:nth-child(2) {
    margin-bottom: 5px;
    cursor: auto; }
    .contant_main__sup-title:nth-child(2)::before {
      display: none;
      right: 0; }

.contant_main__sup-title-after::before {
  content: url("../img/catalog-arrow-down.png");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: block;
  position: absolute;
  right: 15px;
  bottom: -10px; }

.contant_main__title-wr {
  padding: 12px 20px;
  width: 100%;
  position: relative;
  background-color: #2d2d2d; }
  .contant_main__title-wr .left_arrow {
    position: absolute;
    right: 30px;
    top: 40%; }

.contant_main__title {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff; }

.contant_main__but {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .contant_main__but button {
    width: 160px;
    height: 30px; }

.contant_main__slide {
  margin-bottom: 25px; }
  .contant_main__slide .irs-single {
    background: #f00; }
  .contant_main__slide .irs-line {
    height: 6px; }
  .contant_main__slide .irs-bar {
    height: 6px;
    background: #f00;
    border: none; }
  .contant_main__slide .irs-slider {
    width: 23px;
    height: 23px;
    background: #fff;
    border: 5px solid #f00; }
  .contant_main__slide .irs-from, .contant_main__slide .irs-to, .contant_main__slide .irs-min, .contant_main__slide .irs-max {
    display: none; }

.contant_main__slide-fields {
  margin-bottom: 55px; }

.contant_main__slide-wr {
  width: 100%;
  height: 100%;
  position: relative; }
  .contant_main__slide-wr img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover; }

.contant_main__slide-title {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  top: 30%;
  line-height: 1.5em; }

.contant_main__slide-button {
  position: absolute;
  bottom: 30%;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 165px;
  height: 30px; }

.contant_main__slide-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  list-style: none;
  position: absolute; }
  .contant_main__slide-dots button {
    width: 15px;
    height: 15px;
    border: none;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    font-size: 0;
    margin: 0 3px; }
  .contant_main__slide-dots .slick-active button {
    border: none;
    background-color: #f00; }

.contant_main__right {
  width: 73%; }

.contant_main__open-img {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 34px;
  right: 30px;
  bottom: 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .contant_main__open-img img {
    width: 100%;
    height: auto;
    display: block; }

.contant_main__gallery {
  margin-bottom: 69.5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contant_main__gallery:last-child {
    margin-bottom: 0; }

.contant_main__wraps-slider {
  max-width: 515px; }

.contant_main__wraps-img {
  position: relative;
  max-width: 515px; }
  .contant_main__wraps-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .contant_main__wraps-img:hover {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .contant_main__wraps-img:hover .contant_main__open-img {
      opacity: 1; }

.contant_main__wraps {
  max-width: 382px;
  width: 100%; }

.contant_main__car-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
  text-transform: uppercase; }
  .contant_main__car-title h3:last-child {
    display: none; }

.contant_main__descr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75%; }

.contant_main__descr-wr {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-bottom: 22px; }

.contant_main__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contant_main__buttons button {
    height: 30px; }
  .contant_main__buttons .btn__white {
    width: 160px; }
  .contant_main__buttons .btn__red {
    width: 192px; }

.contant_main__left-descr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.contant_main__right-descr {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }

.contant_main__left-wr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .contant_main__left-wr h5 {
    margin-left: 25px; }

.contant_main__title-price {
  font-size: 30px;
  color: #f00; }

.contant_main__credit {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  color: #555555; }
  .contant_main__credit::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #555555; }
  .contant_main__credit:hover {
    color: #f00; }
    .contant_main__credit:hover::after {
      background-color: #f00; }

.contant_main__social {
  width: 140px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.contant_main__selection-mobile {
  display: none; }

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50; }
  .popup__layer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 51;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
  .popup__gallery {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    z-index: 55;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: auto; }
    .popup__gallery img {
      position: relative;
      z-index: 53;
      cursor: auto;
      width: 90%;
      height: auto;
      -o-object-fit: cover;
         object-fit: cover; }
  .popup__request-wr {
    background-color: #e8e8e8;
    width: 620px; }
  .popup__request {
    width: 100%;
    height: 100%;
    z-index: 55;
    left: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50%;
    -webkit-transform: translate(-35%, -50%);
        -ms-transform: translate(-35%, -50%);
            transform: translate(-35%, -50%);
    width: 50%;
    height: auto; }
  .popup__title {
    position: relative;
    z-index: 52;
    position: relative;
    text-align: center;
    background-color: #555555; }
    .popup__title h5 {
      padding: 14px 0;
      text-transform: uppercase;
      color: #fff; }
  .popup__close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 55%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .popup__content {
    position: relative;
    z-index: 52;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .popup__inputs {
    padding: 30px 37px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .popup__inputs input {
      width: 175px;
      height: 37px;
      margin-bottom: 24px; }
      .popup__inputs input:last-child {
        margin-bottom: 15px; }
  .popup__textarea {
    padding: 30px 0; }
    .popup__textarea textarea {
      width: 300px;
      outline: none;
      border: none;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      padding-left: 15px;
      padding-top: 5px;
      margin-bottom: 22px;
      resize: none; }

@media (max-width: 1599px) {
  .contant_main__car-title {
    margin-bottom: 25px; }
  .contant_main__gallery {
    margin-bottom: 66.5px; }
  .contant_main__wraps {
    margin-right: 10px; }
  .contant_main__wraps-slider {
    max-width: 480px; }
  .contant_main__wraps-img {
    max-width: 480px; } }

@media (max-width: 1199px) {
  .contant_main__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 35px; }
  .contant_main__wraps-slider {
    max-width: 100%; }
  .contant_main__wraps-img {
    max-width: 100%; }
  .contant_main__wraps-slider {
    margin-bottom: 10px; }
  .contant_main__wraps {
    max-width: 95%;
    margin: 0 auto;
    position: relative; }
  .contant_main__descr-wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
    .contant_main__descr-wr::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      bottom: -5px;
      left: 0;
      background-color: #555555; }
  .contant_main__car-title {
    margin-bottom: 15px;
    position: relative; }
    .contant_main__car-title h3:last-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: #f00; }
    .contant_main__car-title::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      bottom: -5px;
      left: 0;
      background-color: #555555; }
  .contant_main__left-descr {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .contant_main__right-descr {
    display: none; }
  .contant_main__buttons {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .contant_main__title-price {
    font-size: 24px; }
  .contant_main__slide-title {
    font-size: 20px; }
  .contant_main__car-title {
    font-size: 18px; } }

@media (max-width: 999px) {
  .contant_main__sup-title span {
    font-size: 18px; } }

@media (max-width: 768px) {
  .popup__request {
    width: 450px; }
  .popup__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .popup__textarea {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 30px;
    padding-bottom: 40px; }
  .contant_main form {
    padding: 38px 100px; }
  .contant_main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contant_main__gallery {
    margin-bottom: 65px; }
    .contant_main__gallery:last-child {
      margin-bottom: 65px; }
  .contant_main__left {
    width: 100%; }
  .contant_main__title-wr {
    display: none; }
  .contant_main__selection-mobile {
    display: block; }
  .contant_main__sup-title:nth-child(2) {
    display: none; }
  .contant_main__sup-title::before, .contant_main__sup-title::after {
    display: none !important; }
  .contant_main__sup-title::before {
    display: none !important; }
  .contant_main__selection {
    margin-bottom: 15px;
    display: none !important; }
    .contant_main__selection:first-child {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .contant_main__selection-mobile {
    height: 33px;
    padding-left: 15px;
    position: absolute;
    top: -5px;
    width: 300px;
    border: none;
    outline: none;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    left: 200px;
    display: inline-block;
    font-weight: normal; }
  .contant_main__slide-fields {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 35px; }
  .contant_main__right {
    width: 100%; }
  .contant_main__slider {
    display: none; }
  .contant_main__left-descr button a {
    font-size: 12px; }
  .contant_main__sup-title span {
    font-size: 16px; }
  .contant_main__descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contant_main__left-descr {
    width: 100%;
    position: relative; }
  .contant_main__right-descr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 100%; }
  .contant_main__car-title h3 {
    font-size: 16px; }
  .contant_main__left-descr h5 {
    font-size: 12px; }
  .contant_main__buttons .btn__white, .contant_main__buttons .btn__red {
    width: 200px; } }

@media (max-width: 679px) {
  .contant_main form {
    padding: 38px 35px; }
  .contant_main__sup-title span {
    padding-right: 5px; }
  .contant_main__selection-mobile {
    right: 0;
    left: auto;
    width: 150px !important; }
  .contant_main__left-wr {
    width: 140px; } }

@media (max-width: 479px) {
  .popup__request {
    width: 320px; }
  .popup__textarea textarea {
    width: 250px; }
  .contant_main__selection-mobile {
    left: auto;
    right: 0;
    width: 150px; }
  .contant_main__sup-title span {
    font-size: 12px; }
  .contant_main__buttons .btn__white, .contant_main__buttons .btn__red {
    width: 40%;
    font-size: 12px; }
    .contant_main__buttons .btn__white a, .contant_main__buttons .btn__red a {
      font-size: 12px; }
  .contant_main__gallery {
    margin-bottom: 35px; }
    .contant_main__gallery:last-child {
      margin-bottom: 35px; }
  .contant_main__car-title h3 {
    font-size: 15px; } }
