.sold_stat {
  padding-top: 80px;
  padding-bottom: 170px; }
  .sold_stat div[class*="bg"] {
    margin-right: 10px; }
  .sold_stat .wrap {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .sold_stat .wrap .text {
      padding-bottom: 70px; }
    .sold_stat .wrap .sprite {
      margin-right: 5px; }
  .sold_stat .wrap:nth-child(2) {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .sold_stat .wrap:nth-child(2) section {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .sold_stat .wrap:nth-child(2) section img {
        width: 100%;
        height: auto; }
      .sold_stat .wrap:nth-child(2) section .price:nth-child(3) {
        border: none; }
      .sold_stat .wrap:nth-child(2) section .price {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 1px solid #2d2d2d; }
        .sold_stat .wrap:nth-child(2) section .price h4 {
          font-family: "avenir-demibold";
          padding: 5px 5px;
          text-transform: uppercase; }
        .sold_stat .wrap:nth-child(2) section .price h4:nth-child(2) {
          font-family: "avenir-bold";
          font-weight: 900; }
        .sold_stat .wrap:nth-child(2) section .price button {
          max-width: 170px; }
        .sold_stat .wrap:nth-child(2) section .price .logo {
          padding-top: 15px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .sold_stat .wrap:nth-child(2) section .price .logo img {
            width: 100%;
            height: auto;
            padding-right: 10px; }
    .sold_stat .wrap:nth-child(2) section:nth-child(2n) {
      margin: 0 25px; }
