<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile page</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta property="og:image" content="images/jpg">
<meta property="og:type" content="website">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta property="og:title" content="white">
<meta property="og:url" content="">
<meta property="og:description" content="">
<meta property="twitter:image:src" content="images/jpg">
<meta property="twitter:domain" content="300">
<meta property="twitter:title" content="white">
<meta property="twitter:site" content="">
<meta property="twitter:description" content="">
<link rel="shortcut icon" type="img/ico" href="./assets/images/favicon16.png" sizes="16x16">
<link rel="shortcut icon" type="img/ico" href="./assets/images/favicon32.png" sizes="32x32">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700&amp;display=swap&amp;subset=cyrillic">
  <link href="./assets/css/libs.72b1d3f.css" rel="stylesheet"><link href="./assets/css/app.72b1d3f.bundle.css" rel="stylesheet"></head>
  <body>
    <div class="wrapper">
<header class="header">
  <div class="header__mobile"></div>
  <div class="header__container fw"><a class="logo fw" href="./index.html"><img class="logo__icon svg" src="./assets/images/logo.svg" alt="themoon logo"><img class="svg logo__text-icon" src="./assets/images/name.svg" alt="themoon logo"></a>
    <nav class="navigation fw">
      <ul class="navigation__list fw">
        <li class="navigation__item fw"><a href="./index.html">Home</a></li>
        <li class="navigation__item fw"><a href="./about.html">About</a></li>
        <li class="navigation__item fw is-current"><a href="./category.html">Products</a>
          <input class="navigation__mobile-opener" type="checkbox">
          <div class="navigation__mobile__arrow"></div>
          <div class="submenu"><img class="svg submenu__bg" src="./assets/images/wk.svg" alt="wholly kaw title">
            <div class="container--fluid">
              <div class="submenu__container fw">
                <div class="submenu__content fw">
                  <ul class="submenu__list">
                    <li class="submenu__item"><a href="./category.html">after shame products</a></li>
                    <li class="submenu__item"><a href="./category.html">products for shaming</a></li>
                    <li class="submenu__item"><a href="./category.html">deodorants</a></li>
                    <li class="submenu__item"><a href="./category.html">eue de toilette</a></li>
                    <li class="submenu__item"><a href="./category.html">other</a></li>
                  </ul>
                  <ul class="submenu__list">
                    <li class="submenu__item"><a href="./category.html">Product kits</a></li>
                    <li class="submenu__item"><a href="./category.html">We Recommend</a></li>
                    <li class="submenu__item"><a href="./category.html">On sales</a></li>
                    <li class="submenu__item"><a href="./category.html">New in</a></li>
                    <li class="submenu__item"><a href="./category.html">Best Sellers</a></li>
                  </ul>
                  <ul class="submenu__list">
                    <li class="submenu__item"><a href="./category.html">Samples</a></li>
                    <li class="submenu__item"><a href="./category.html">New products</a></li>
                  </ul>
                </div>
                <div class="submenu__icon"><img class="lazy" data-src="./assets/images/header-img.jpg"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="navigation__item fw"><a href="./blog.html">Coming soon</a></li>
        <li class="navigation__item fw"><a href="./blog.html">Blog</a></li>
        <li class="navigation__item fw"><a href="./contacts.html">Contact us</a></li>
      </ul>
    </nav>
    <div class="navigation__bar">
      <ul class="navigation__bar__list fw">
        <li class="navigation__bar__item fw"><a href="./profile.html"><img class="svg" src="./assets/images/profile.svg" alt="profile"></a></li>
        <li class="navigation__bar__item fw"><a href="./cart.html"><img class="svg" src="./assets/images/trash.svg" alt="cart"></a></li>
        <li class="navigation__bar__item fw"><a href="./favorites.html"><img class="svg" src="./assets/images/like.svg" alt="like"></a></li>
      </ul>
    </div>
    <button class="burger-close js-burger__close">
      <div class="burger-close__container fw"><img class="svg" src="./assets/images/arrow-down.svg" alt="arrow"></div>
    </button>
    <button class="burger js-burger__open">
      <div class="burger__line"></div>
      <div class="burger__line"></div>
      <div class="burger__line"></div>
    </button>
  </div>
  <div class="side fw">
    <div class="side__box is-search">
      <button class="side__button js-search"><img src="./assets/images/search.svg" alt="themoon logo"></button>
    </div>
    <div class="side__bar">
      <ul class="socials">
        <li class="socials__item"><a href="./" target="_blank" rel="nofollow"><img class="svg" src="./assets/images/instagram-logo.svg" alt="instagram"></a></li>
        <li class="socials__item"><a href="./" target="_blank" rel="nofollow"><img class="svg" src="./assets/images/facebook-logo-button.svg" alt="facebook"></a></li>
        <li class="socials__item"><a href="./" target="_blank" rel="nofollow"><img class="svg" src="./assets/images/twitter-logo-button.svg" alt="twitter"></a></li>
        <li class="socials__item"><a href="./" target="_blank" rel="nofollow"><img class="svg" src="./assets/images/telegram.svg" alt="telegram"></a></li>
      </ul>
    </div>
    <div class="side__date">
      <p>whollykaw 2019</p>
    </div>
    <div class="side__box is-chat">
      <button class="side__button"><img src="./assets/images/chat.svg" alt="themoon logo"></button>
    </div>
  </div>
</header>
      <main class="main">
        <div id="profile-app" data-navigation-list="obj with navigation info">
          <section class="hero-line">
            <div class="hero-line__container fw">
              <picture class="hero-line__bg">
                <source srcset="./assets/images/profile-bg.jpg" media="(max-width: 767px)">
                <source srcset="./assets/images/profile-bg@2x.jpg" media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"><img class="lazy" data-src="./assets/images/profile-bg.jpg" alt="category background">
              </picture>
              <div class="container--fluid">
                <div class="hero-line__content--invert fw">
                  <div class="crumbs">
                    <ul class="fw crumbs__list">
                      <li class="crumbs__item"><a href="./index.html">Home</a></li>
                      <li class="crumbs__item"><a href="./profile.html" rel="nofollow">{{app.title}}</a></li>
                    </ul>
                  </div>
                  <div class="hero-line__title">
                    <h1>{{app.title}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="profile section--end">
            <div class="container">
              <div class="profile__container fw">
                <div class="profile__content">
                  <!-- start login block-->
                  <div class="profile__content__block" v-show="app.view === 'login'">
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>Registered customer</h2>
                      </div>
                      <form class="profile__form">
                        <div v-for="(input, index) in pages.login.inputs" :key="index" :class="input.className">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{input.placeholder}}</p>
                            <input class="profile-form__input" :name="input.name" :data-text-error="input.textError" :type="input.type" :placeholder="input.placeholder">
                          </label>
                        </div>
                        <div class="profile__form__row--text-link">
                          <button class="profile__link" @click.prevent="toForgot">Forgot your password? </button>
                        </div>
                        <div class="profile__form__row">
                          <button class="site-button--invert">
                            <div class="site-button__cont"> 
                              <p>Go</p><span class="site-button__span"></span>
                            </div>
                          </button>
                        </div>
                      </form>
                    </div>
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>Welcome to Wholly Kaw</h2>
                      </div>
                      <form class="profile__form">
                        <div class="profile__form__row--input-last">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{pages.login.welcome.placeholder}}</p>
                            <input class="profile-form__input" :name="pages.login.welcome.name" :data-text-error="pages.login.welcome.textError" :type="pages.login.welcome.type" :placeholder="pages.login.welcome.placeholder">
                          </label>
                        </div>
                        <div class="profile__form__row--text">
                          <p>Creating an account will help buy faster. You can monitor the status of the order, as well as view orders made earlier. You can accumulate reward points and get discount coupons. And for regular customers we offer a flexible system of discounts and personal service.</p>
                        </div>
                        <div class="profile__form__row">
                          <button class="site-button--green-white">
                            <div class="site-button__cont"> 
                              <p>Continue</p><span class="site-button__span"></span>
                            </div>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- end login block-->
                  <!-- profile register block-->
                  <div class="profile__content__block" v-show="app.view === 'register'">
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>Basic</h2>
                        <p>If you are already registered, go to the
                          <button class="profile__link" @click="toLogin">login page</button>
                        </p>
                      </div>
                      <form class="profile__form">
                        <div v-for="(input, index) in pages.register.inputs1" :key="index + input.placeholder" :class="input.className">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{input.placeholder}}</p>
                            <input class="profile-form__input" :name="input.name" :data-text-error="input.textError" :type="input.type" :placeholder="input.placeholder">
                          </label>
                        </div>
                        <div class="profile__content__title--inner">
                          <h2>Your password</h2>
                        </div>
                        <div v-for="(input, index) in pages.register.inputs2" :key="index + input.placeholder" :class="input.className">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{input.placeholder}}</p>
                            <input class="profile-form__input" :name="input.name" :data-text-error="input.textError" :type="input.type" :placeholder="input.placeholder">
                          </label>
                        </div>
                        <div class="profile__form__row--news">
                          <p>Newsletter</p>
                          <label class="form__label is-checkbox" v-for="(input, index) in pages.register.checkbox1" :key="index + input.placeholder">
                            <p class="form__p--smaller">{{input.placeholder}}</p>
                            <input class="form__input--smaller" :name="input.name" :data-text-error="input.textError" :type="input.type" :checked="index === 0">
                            <div class="form__checkbox"></div>
                          </label>
                        </div>
                        <div class="profile__form__row--text">
                          <label class="form__label is-checkbox">
                            <p class="form__p--smaller">{{pages.register.checkbox2.placeholder}}</p>
                            <input class="form__input--smaller" :name="pages.register.checkbox2.name" :data-text-error="pages.register.checkbox2.textError" :type="pages.register.checkbox2.type" checked>
                            <div class="form__checkbox"></div>
                          </label>
                        </div>
                        <div class="profile__form__row">
                          <button class="site-button--invert">
                            <div class="site-button__cont"> 
                              <p>Continue</p><span class="site-button__span"></span>
                            </div>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- end register block-->
                  <!-- my info-->
                  <div class="profile__content__block" v-show="app.view === 'myInfo'">
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>My information</h2>
                        <p>My information</p>
                      </div>
                      <form class="profile__form">
                        <div v-for="(input, index) in pages.myInfo" :key="index + input.placeholder" :class="input.className">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{input.placeholder}}:</p>
                            <input class="profile-form__input" :name="input.name" :data-text-error="input.textError" :type="input.type" :placeholder="input.placeholder">
                          </label>
                        </div>
                        <div class="profile__form__row--text">
                          <button class="profile__link" @click.prevent="toChange">Change</button>
                        </div>
                        <div class="profile__form__row--text">
                          <button class="site-button--green-white">
                            <div class="site-button__cont"> 
                              <p>Continue</p><span class="site-button__span"></span>
                            </div>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- end my info-->
                  <!-- change contact info-->
                  <div class="profile__content__block" v-show="app.view === 'change'">
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>Change information</h2>
                        <p>Change information</p>
                      </div>
                      <form class="profile__form">
                        <div v-for="(input, index) in pages.change.inputs1" :key="index + input.placeholder" :class="input.className">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{input.placeholder}}</p>
                            <input class="profile-form__input" :name="input.name" :data-text-error="input.textError" :type="input.type" :placeholder="input.placeholder">
                          </label>
                        </div>
                        <div class="profile__content__title--inner">
                          <h2>Your password</h2>
                        </div>
                        <div v-for="(input, index) in pages.change.inputs2" :key="index + input.placeholder" :class="input.className">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{input.placeholder}}</p>
                            <input class="profile-form__input" :name="input.name" :data-text-error="input.textError" :type="input.type" :placeholder="input.placeholder">
                          </label>
                        </div>
                        <div class="profile__form__row">
                          <button class="site-button--green-white">
                            <div class="site-button__cont"> 
                              <p>Continue</p><span class="site-button__span"></span>
                            </div>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- end change contact info-->
                  <!-- start address book-->
                  <div class="profile__content__block" v-show="app.view === 'address'">
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>Address book</h2>
                        <p>Change Address</p>
                      </div>
                      <form class="profile__form">
                        <div class="profile__form__row--address fw row-margin">
                          <label class="form__label is-checkbox" v-for="(input, index) in pages.address.array" :key="index + input.placeholder">
                            <p class="form__p--smaller">{{input.placeholder}}</p>
                            <input class="form__input--smaller" :name="input.name" :data-text-error="input.textError" :type="input.type" :checked="index === 0">
                            <div class="form__checkbox"></div>
                          </label>
                        </div>
                        <div class="profile__form__row--input-last row-margin">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{pages.address.changeAddress.placeholder}}:</p>
                            <input class="profile-form__input" :name="pages.address.changeAddress.name" :data-text-error="pages.address.changeAddress.textError" :type="pages.address.changeAddress.type" :placeholder="pages.address.changeAddress.placeholder">
                          </label>
                        </div>
                        <div class="profile__form__row">
                          <button class="site-button--invert">
                            <div class="site-button__cont"> 
                              <p>Change Address</p><span class="site-button__span"></span>
                            </div>
                          </button>
                        </div>
                      </form>
                    </div>
                    <div class="profile__content__field">
                      <form class="profile__form">
                        <div class="profile__form__row--input-last row-margin">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{pages.address.addAddress.placeholder}}:</p>
                            <input class="profile-form__input" :name="pages.address.addAddress.name" :data-text-error="pages.address.addAddress.textError" :type="pages.address.addAddress.type" :placeholder="pages.address.addAddress.placeholder">
                          </label>
                        </div>
                        <div class="profile__form__row">
                          <button class="site-button--invert">
                            <div class="site-button__cont"> 
                              <p>Add Address</p><span class="site-button__span"></span>
                            </div>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- end address book-->
                  <!-- start points-->
                  <div class="profile__content__block" v-show="app.view === 'points'">
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>My points</h2>
                        <p>My points</p>
                      </div>
                      <div class="profile__points">
                        <div class="profile__points__head">
                          <p class="fw">You have points<span>{{app.points.total}}</span></p>
                        </div>
                        <div class="profile__points__body">
                          <table class="profile__points__table">
                            <tr>
                              <th>Event</th>
                              <th>Date</th>
                              <th>Points</th>
                            </tr>
                            <transition name="fade">
                              <tr v-for="(item, index) in app.points.history" :key="index" v-show="app.points.render.from &lt; index+1 &amp;&amp; index &lt; app.points.render.to">
                                <td>{{item.name}}</td>
                                <td>{{item.date}}</td>
                                <td>{{item.points}}</td>
                              </tr>
                            </transition>
                          </table>
                        </div>
                        <nav class="pagination fw">
                          <button class="pagination__arrow-prev" @click="viewPoints(false)"></button>
                          <ul class="pagination__list fw">
                            <li class="pagination__item" v-for="(item, index) in app.points.history" v-if="index % 5 === 0">
                              <button @click="showMorePoints(index/5+1)" :class="{'is-active' : index/5+1 == app.points.render.to / 5}">{{ (index/5).length !== 2 ? 0 : '' }}{{ (index/5) +1}}</button>
                            </li>
                          </ul>
                          <button class="pagination__arrow-next" @click="viewPoints(true, app.points.history.length)"></button>
                        </nav>
                      </div>
                    </div>
                  </div>
                  <!-- end points-->
                  <!-- start orders-->
                  <div class="profile__content__block" v-show="app.view === 'orders'">
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>Order history </h2>
                        <p>Order history</p>
                      </div>
                      <div class="profile__order-list">
                        <div class="order__wrapper" v-for="(item, index) in pages.orders" v-show="app.orders.from &lt; index+1 &amp;&amp; index &lt; app.orders.to">
                          <div class="order fw">
                            <p class="order__date">{{item.date}}</p>
                            <div class="order__descr">
                              <div class="order__row fw">
                                <div class="order__img"><img class="lazy" :data-src="'.' + item.img" :alt="item.title"></div>
                                <div class="order__head">
                                  <p class="order__category">{{item.cat}}</p>
                                  <h3 class="order__title">{{item.title}}</h3>
                                  <p class="order__article">{{item.article}}</p>
                                </div>
                              </div>
                              <div class="order__row">
                                <div class="order__details">
                                  <p>Estimated Shipping Costs <span>{{item.address}}</span></p>
                                  <p>Amount:<span>{{item.amount}}</span></p>
                                  <p>Delivery with a fixed shipping cost:<span>{{item.delivery}}</span></p>
                                  <p>Total:<span>{{item.total ? item.total : item.amount + item.delivery}}</span></p>
                                </div>
                              </div>
                            </div>
                            <div class="order__status">
                              <label class="form__label is-checkbox" :class="{'fall-status' : !item.deliveredStatus}">
                                <p class="form__p--smaller">Delivered</p>
                                <input class="form__input--smaller" :name="'delivered' + item.title + index" type="radio" disabled :checked="item.deliveredStatus">
                                <div class="form__checkbox"></div>
                              </label>
                              <label class="form__label is-checkbox" :class="{'fall-status' : item.deliveredStatus}">
                                <p class="form__p--smaller">Сanceled</p>
                                <input class="form__input--smaller" :name="'delivered' + item.title + index" type="radio" disabled :checked="!item.deliveredStatus">
                                <div class="form__checkbox"></div>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <nav class="pagination fw">
                        <button class="pagination__arrow-prev" @click="viewOrders(false)"></button>
                        <ul class="pagination__list fw">
                          <li class="pagination__item" v-for="(item, index) in pages.orders" v-if="index % 3 === 0">
                            <button @click="showMoreOrders(index/3+1)" :class="{'is-active' : index/3+1 == app.orders.to / 3}">{{ (index/3).length !== 2 ? 0 : '' }}{{ (index/3) +1}}</button>
                          </li>
                        </ul>
                        <button class="pagination__arrow-next" @click="viewOrders(true, pages.orders.length)"></button>
                      </nav>
                    </div>
                  </div>
                  <!-- end orders-->
                  <!-- start change password-->
                  <div class="profile__content__block" v-show="app.view === 'changePass'">
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>Change Password</h2>
                        <p>Change Password</p>
                      </div>
                      <form class="profile__form">
                        <div v-for="(input, index) in pages.changePass" :key="index + input.placeholder" :class="[ input.className, {'row-margin' : index === pages.changePass.length - 1}]">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{input.placeholder}}:</p>
                            <input class="profile-form__input" :name="input.name" :data-text-error="input.textError" :type="input.type" :placeholder="input.placeholder">
                          </label>
                        </div>
                        <div class="profile__form__row--text">
                          <button class="site-button--green-white">
                            <div class="site-button__cont"> 
                              <p>Continue</p><span class="site-button__span"></span>
                            </div>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- end change password-->
                  <!-- start forgotPass-->
                  <div class="profile__content__block" v-show="app.view === 'forgotPass'">
                    <div class="profile__content__field">
                      <div class="profile__content__title">
                        <h2>Forgotten Password?</h2>
                        <p>Forgotten Password</p>
                      </div>
                      <form class="profile__form">
                        <div v-for="(input, index) in pages.forgotPass" :key="index + input.placeholder" :class="[ input.className, {'row-margin' : index === pages.forgotPass.length - 1}]">
                          <label class="profile-form__label view-profile">
                            <p class="input__p">{{input.placeholder}}:</p>
                            <input class="profile-form__input" :name="input.name" :data-text-error="input.textError" :type="input.type" :placeholder="input.placeholder">
                          </label>
                        </div>
                        <div class="profile__form__row">
                          <button class="site-button--green-white">
                            <div class="site-button__cont"> 
                              <p>Continue</p><span class="site-button__span"></span>
                            </div>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- end forgot pass-->
                </div>
                <nav class="profile__navigation">
                  <button class="profile__navigation__button" @click="openMobileNav" :class="{'is-opened' : app.openedMobileMenu}">All</button>
                  <!-- profile navigation component-->
                  <ul class="profile-navigation__list">
                    <li class="profile-navigation__item" v-for="(item, index) in navigation" :key="index">
                      <button v-if="item.route != 'favorites'" @click="changePage(item.route, item.title)" :class="{'is-active' : item.route === app.view}">{{item.nav}}</button><a v-if="item.route == 'favorites'" href="./favorites.html" :class="{'is-active' : item.route === app.view}">{{item.nav}}</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </section>
        </div>
<section class="subscribe">
  <picture>
    <source srcset="./assets/images/subscribebg.jpg" media="(max-width: 767px)">
    <source srcset="./assets/images/subscribebg@2x.jpg" media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"><img class="lazy" data-src="./assets/images/subscribebg.jpg" alt="subscribe background">
  </picture>
  <div class="container">
    <div class="subscribe__container">
      <div class="subscribe__title">
        <h2>Subscribe Now!</h2>
      </div>
      <form class="form subscribe__form">
        <label class="form__label">
          <input class="form__input" type="email" name="email" placeholder="Your email" required>
        </label>
        <button class="site-button--orange">
          <div class="site-button__cont"> 
            <p>Subscribe</p><span class="site-button__span"></span>
          </div>
        </button>
      </form>
    </div>
  </div>
</section>
<section class="society bg section--start">
  <div class="container">
    <div class="society__container fw">
      <div class="society__side">
        <div class="logo"><img class="logo__icon svg" src="./assets/images/logo.svg" alt="logo"></div>
        <nav class="society__nav">
          <ul>
            <li class="society__nav__item"><a href="./">Home</a></li>
            <li class="society__nav__item"><a href="./">About</a></li>
            <li class="society__nav__item"><a href="./">Product</a></li>
            <li class="society__nav__item"><a href="./">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="society__content">
        <aside class="society__typography content__typography">
          <h3>About</h3>
          <p>Our skin is the body’s largest and fastest-growing organ. It is our first line of defense against germs and toxic materials. It helps us stay warm when it’s cold, and cool when it’s hot. Gust of wind, smoke, traffic smog, dust etc. hits our face first. Our face defines much of our standard for who we are, our expressions on the face convey our emotions to the outside world and to the others we interact with.</p>
        </aside>
        <form class="society__form form fw js-contactUsForm">
          <div class="society__form__col">
            <label class="form__label">
              <p class="form__p">Email</p>
              <input class="form__input" type="email" name="email" placeholder="example@example.com" required>
            </label>
            <label class="form__label">
              <p class="form__p">Name</p>
              <input class="form__input" type="text" name="name" placeholder="Title" required>
            </label>
          </div>
          <div class="society__form__col">
            <label class="form__label for-textarea">
              <p class="form__p">Message</p>
              <textarea class="form__textarea" type="text" name="message" placeholder="Write note…" required></textarea>
            </label>
          </div>
          <div class="society__form__col is-full fw">
            <button class="site-button--orange">
              <div class="site-button__cont"> 
                <p>Go</p><span class="site-button__span"></span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
      </main>
<footer class="footer" aria-label="footer">
  <div class="footer__container">
    <div class="container">
      <div class="footer__content fw">
        <div class="footer__copy">
          <p>&copy; WhollyKaw 2019</p>
        </div>
        <div class="footer__nav">
          <ul class="policy__nav fw">
            <li class="policy__item"><a href="./" target="_blank">Terms &amp; Conditions</a></li>
            <li class="policy__item"><a href="./" target="_blank">Privacy Notice</a></li>
            <li class="policy__item"><a href="./" target="_blank">Shipping &amp; Return</a></li>
          </ul>
        </div>
        <div class="footer__soc fw">
          <div class="footer__follow"><a href="./" target="_blank">follow us</a></div>
          <div class="socials">
            <ul class="socials__list fw">
              <li class="socials__item"><a class="facebook" href="" target="_blank" rel="noreferrer"><img class="svg" src="./assets/images/facebook.svg" alt="facebook"></a></li>
              <li class="socials__item"><a class="twitter" href="" target="_blank" rel="noreferrer"><img class="svg" src="./assets/images/twitter.svg" alt="twitter"></a></li>
              <li class="socials__item"><a class="instagram" href="" target="_blank" rel="noreferrer"><img class="svg" src="./assets/images/instagram.svg" alt="instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__line">
    <div class="container">
      <p class="footer__trade-info">Wholly Kaw, the Bull logo are trademarks of WhollyKaw LLC in the US and other countries</p>
    </div>
  </div>
</footer>
    </div>
<section class="search js-search__section">
  <button class="search__close js-close__search"></button>
  <form class="search__content fw">
    <div class="search__label">
      <input class="search__input" type="text" placeholder="Entry your request">
      <div class="search__text fw">
        <p class="search__error">Please, entry some info to search :)</p>
        <p class="search__helper">Hit<span>escape</span>to close or<span>enter</span>to search</p>
      </div>
    </div>
  </form>
</section>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script type="text/javascript" src="./assets/js/vendor.72b1d3f.bundle.js"></script><script type="text/javascript" src="./assets/js/app.72b1d3f.bundle.js"></script></body>
</html>