.botnav {
  padding-bottom: 80px; }
  .botnav .wrap {
    position: relative; }
  .botnav ul {
    position: absolute;
    right: 0px;
    padding-left: 0; }
    .botnav ul li:last-child::after {
      position: absolute;
      width: 4px;
      height: 4px;
      border-left: 2px solid #2d2d2d;
      border-bottom: 2px solid #2d2d2d;
      -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
              transform: rotate(-135deg);
      top: 35%;
      left: 20px;
      content: ""; }

@media (max-width: 1599px) {
  .botnav ul {
    right: 25px; } }

@media (max-width: 768px) {
  .botnav {
    display: none; } }
