.head-bg__reviews {
  background: url(../img/review-head-bg.jpg);
  padding-top: 175px;
  padding-bottom: 100px; }

.reviews__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.reviews__title {
  padding-right: 15px;
  color: #fff; }

.reviews__title:last-child {
  color: #f00; }

@media (max-width: 1283px) {
  .head-bg__reviews {
    padding: 80px 115px; } }
