.reviews .wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.reviews__container {
  margin-bottom: 60px; }

.reviews__content {
  max-width: 1060px;
  width: 100%; }

.reviews__header {
  padding-top: 15px;
  margin-bottom: 57px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .reviews__header h2 {
    padding-right: 10px;
    text-transform: uppercase; }
  .reviews__header h2:nth-child(2) {
    color: #f00; }
    .reviews__header h2:nth-child(2)::-moz-selection {
      background-color: #2A6FD4; }
    .reviews__header h2:nth-child(2)::selection {
      background-color: #2A6FD4; }

.reviews__text {
  margin-bottom: 60px; }

.reviews__video {
  max-width: 512px;
  width: 100%; }
  .reviews__video img {
    width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
       object-fit: cover; }

.reviews__block {
  margin-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .reviews__block:last-child {
    margin-bottom: 0; }

.reviews__text-content {
  padding-left: 33px;
  max-width: 734px;
  width: 100%; }

.reviews__text-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 37px; }
  .reviews__text-title h3 {
    text-transform: uppercase; }
  .reviews__text-title h3:nth-child(2) {
    color: #f00; }
    .reviews__text-title h3:nth-child(2)::-moz-selection {
      background-color: #2A6FD4; }
    .reviews__text-title h3:nth-child(2)::selection {
      background-color: #2A6FD4; }

.reviews__look-more {
  position: relative;
  top: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .reviews__look-more button {
    position: absolute;
    top: 0;
    height: 30px; }

@media (max-width: 1283px) {
  .reviews {
    padding: 0 10px; }
    .reviews__content {
      padding: 0 10px; }
    .reviews__video {
      max-width: 400px; }
    .reviews__header h2 {
      font-size: 27px; }
    .reviews__text-title h3 {
      font-size: 20px; } }

@media (max-width: 999px) {
  .reviews__header {
    margin-bottom: 30px; }
    .reviews__header h2 {
      font-size: 24px; }
  .reviews__text-content {
    max-width: 100%;
    padding: 0 20px; }
  .reviews__text {
    margin-bottom: 40px; }
  .reviews__text-title {
    margin-bottom: 20px; }
  .reviews__video {
    max-width: 100%;
    margin-bottom: 30px; }
  .reviews__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px; } }

@media (max-width: 768px) {
  .reviews__header {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .reviews__header h2 {
      font-size: 20px; }
  .reviews__text-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .reviews__text-title h3 {
      font-size: 18px; }
  .reviews__container {
    margin-bottom: 100px; }
  .reviews__look-more {
    top: -60px; } }
