@media (min-width: 768px){
		.middle_wrap{
		position: relative;
		top: 25vh;
	}
		.wrapper{
		height: 100vh;
	}
}
@media (max-width: 414px){
	.nav{
		display: none;
	}
	.middle_wrap{
		position: relative;
		top: 7vh;
	}
}
@media (max-width:768px ){
	.wrapper{
		height: 100vh;
	}
	.navbar_padding{
		margin: 0;
		padding-top: 50px;	
	}
	.nav>li>a{
		padding: 10px 13px;
	}
	.navbar-nav ul>li{
		display: block;
	}
	.jumbotron{
		padding-top: 0;
	}
	article:hover::after{
		background-color: #fff;
	}
}

body{
	font-family: 'Montserrat regular', sans-serif;	font-size: 14px;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}
h1,h2,h3,h4,h5,h6{
	margin: 10px 0;
	font-family: 'Raleway Semi-Bold', sans-serif;
}
.wrapper{
	background-position: top;
	background-image: url("../img/bg_slider.jpg");
	background-repeat: no-repeat;
/*	height: 100vh;*/
}
.row{
	padding: 15px 0;
}
.navbar_padding{
	padding-top: 20px;
	box-sizing: border-box;
}

.middle_wrap{
	position: relative;
}

.navbar_padding>li a{
	color: #fff;
	background-color: inherit;
	border-bottom: 2px solid transparent;
}
.navbar_padding>li a:hover{
	color: #c7b299;
	background-color: inherit;
}
.navbar_padding>li a:focus{
	color: #c7b299;
	background-color: inherit;
	border-bottom: 2px solid #c7b299;
}
aside{
	background-color: inherit;
	color: #fff;
	margin: 20px 0;
}
.jumbotron{
	background-color: inherit;
}
.jumbotron h1{
	font-weight: bold;
	font-family: 'Raleway Extra-Bold', sans-serif;
	font-size: 51px;
}
.jumbotron h2{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
}
.jumbotron p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.btn-primary{
	background-color: #998675;
	border: 2px solid #998675;
}
.btn-primary:hover{
	background-color: #998675;
	border: 2px solid #5d4d3d;
}
.btn-primary:focus{
	background-color: #998675;
	border: 2px solid #998675;
}
.btn-primary:active{
	border: 2px solid #5d4d3d;
	background-color: inherit;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background-color: inherit;
	border: 2px solid #5d4d3d;
}

section{
	margin-bottom: 50px;
}
footer img{
	width: 47px;
	height: auto;
}
article{
	margin-bottom: 40px;
}
/*article::after{
	left: 35%;
	display: block;
	position: relative;
	content: " ";
	width: 30%;
	top: 10px;
	height: 5px;
	background-color: #f1eee9;
}*/
 article:hover h3{
	color: #998675;
 }
 article:hover::after{
 	left: 35%;
	display: block;
	position: absolute;
	content: " ";
	width: 30%;
	top: 180px;
	height: 3px;
	background-color: #998675;
 }