@media (max-width: 1025px) {
  .sec_01 {
    height: auto; }
    .sec_01 .jumbotron {
      margin-top: 20%;
      margin-bottom: 15%; } }

@media (max-width: 376px) {
  .sec_01 .navbar {
    padding: 20px 0; }
  .sec_01 .jumbotron {
    margin-top: 0;
    margin-bottom: 0; }
  .sec_05 .content-divider-bottom:nth-child(3) {
    padding: 0; }
  .sec_05 .col-md-4 {
    padding: 0; } }
