@font-face {
  font-family: "altair-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/altair.bold.eot");
  src: url("../fonts/altair.bold.eot?#iefix") format("embedded-opentype"), url("../fonts/altair.bold.woff") format("woff"), url("../fonts/altair.bold.ttf") format("truetype"); }

@font-face {
  font-family: "altair-thin";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/altair.thin.eot");
  src: url("../fonts/altair.thin.eot?#iefix") format("embedded-opentype"), url("../fonts/altair.thin.woff") format("woff"), url("../fonts/altair.thin.ttf") format("truetype"); }
