@media (max-width: 1680px) {
  section:first-child {
    background-size: 120%; }
    section:first-child .wrap article:nth-child(1) .img:last-child {
      margin-top: 20px; } }

@media (max-width: 1366px) {
  section:first-child {
    background-size: cover;
    height: auto; } }

@media (max-width: 768px) {
  section:first-child .wrap {
    width: auto; } }

@media (max-width: 414px) {
  section:first-child .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 321px) {
  section:first-child img[alt*="divider"] {
    width: 100%; }
  section:first-child .wrap-form {
    max-width: 310px; }
    section:first-child .wrap-form .form {
      max-width: 300px; } }
