.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .wrap section:nth-child(1) .head {
    background-color: #f00;
    margin-bottom: 30px; }
  .wrap section:nth-child(1) h2 {
    text-align: center;
    font-size: 30px;
    color: #fff; }
  .wrap section:nth-child(1) .descr {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .wrap section:nth-child(1) .descr h5 {
      margin: 12px 0;
      width: 90px;
      margin-left: 30px; }
    .wrap section:nth-child(1) .descr h5:last-child {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .wrap section:nth-child(1) .descr button {
      max-width: 230px;
      margin-top: 35px;
      width: 100%; }
      .wrap section:nth-child(1) .descr button a {
        font-weight: bold; }
  .wrap section:nth-child(1) .descr:last-child {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 15px; }
    .wrap section:nth-child(1) .descr:last-child div {
      margin-right: 20px; }
  .wrap section:nth-child(2) .img {
    position: relative; }
    .wrap section:nth-child(2) .img img {
      position: relative;
      width: 100%; }
    .wrap section:nth-child(2) .img .bg-shop_1 {
      position: absolute;
      right: 50px;
      bottom: 30px; }
  .wrap section:nth-child(2) .img:hover .bg-shop_1 {
    display: block; }
  .wrap section:nth-child(2) .gallery img {
    margin: 15px 5px 0 5px;
    width: 140px;
    height: auto; }
  .wrap section:nth-child(2) .gallery img:first-child {
    margin-left: 0; }
  .wrap section:nth-child(2) .gallery img:last-child {
    margin-right: 0; }
  .wrap .modal {
    width: auto; }
    .wrap .modal div {
      background-color: #e8e8e8;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .wrap .modal div section:first-child {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 35px; }
        .wrap .modal div section:first-child input {
          width: 180px;
          height: 38px;
          padding-left: 15px;
          border: none;
          -webkit-border-radius: 20px;
                  border-radius: 20px; }
      .wrap .modal div section:last-child {
        padding: 0 35px;
        text-align: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .wrap .modal div section:last-child textarea {
          width: 330px;
          border: none;
          padding: 10px 15px;
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          outline: none;
          margin-bottom: 2px;
          resize: none; }
