//- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
html
	head
	body
		table(width="100%" border="0" cellpadding="0" cellspacing="0")
			tr
				td(valign="top" align="center" bgcolor="#F6F3E4" style="background-color: #F6F3E4")
					br
					br
					table(width="600" border="0" cellspacing="0" cellpadding="0")
						tr()
							td(valign="top" align="center" bgcolor="#FFF" style="padding-left:13px; padding-right:13px; background-color:#ffffff;")
								table(width="100%" border="0" cellspacing="0" cellpadding="0")
									tr
										td
											table(width="84" border="0" cellspacing="0" cellpadding="0")
												tr
													td(height="80" align="center" valign="middle" bgcolor="#D80000" style="color:#ffffff; background-color:#D80000; font-family: Arial, Helvetica, sans-serif ")
														div(style="font-size: 15px") 
															b Issue
														div(style="font-size: 30px") 
															b 17
									tr
										td(align="center" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 48px")
											i Newsletter Title
									tr
										td(align="center" valign="middle" style="padding-top: 7px")
											table(width="240" border="0" cellspacing="0" cellpadding="0")
												tr
													td(height="31" align="center" valign="middle" bgcolor="#D80000" style="font-family:Georgia, 'Times New Roman', Times, serif; color: #ffffff; font-size: 19px ") Month/Year
									tr
										td(align="center" valign="middle" style="padding-top: 15px")
											img(src="img/mainpic.jpg", alt="main image" style="display:block" width="573" height="243")
									tr
										td(align="center" valign="middle" style="padding-top: 15px; padding-bottom: 15px")
											img(src="img/divider.gif", alt="decoration" style="display:block")
									tr
										td(align="center" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 24px; padding-bottom:5px")
											i Lorem ipsum dolor sit amet, consectetur.
									tr
										td(align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 15px;") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem necessitatibus, esse eos. Officiis perferendis magnam eum ducimus optio harum! Deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quos perferendis perspiciatis sequi sit velit dolor eveniet rem tempora! Reiciendis deleniti culpa quaerat corrupti iusto, voluptas ratione cupiditate mollitia enim commodi a nesciunt aliquid dolorem ut. Cum molestiae harum, illo, quia mollitia placeat officia eius dolorem ducimus quis fuga porro.
									tr
										td(align="center" valign="middle" style="padding-top: 15px; padding-bottom: 15px")
											img(src="img/divider.gif", alt="decoration" style="display:block")
									tr
										td(align="center" valign="widdle")
											table(width="100%" border="0" cellspacing="0" cellpadding="0")
												tr
													td(width="143" align="left" valign="top")
														table(width="125" border="0" cellspacing="0" cellpadding="0")
															tr
																td(valign="top" align="left")
																	img(src="img/pic001.jpg", alt="gallery" width="123" height="81" style="display:block")
															tr
																td(align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 14px; color:#B30467")  Lorem ipsum dolor sit amet.
															tr
																td(align="left" valign="middle" style="font-family: Georgia, 'Times New Roman', 'Times', serig; font-size: 14px; color: #000000") Eos minus, dignissimos labore expedita quod corrupti reprehenderit quidem, laudantium fugiat voluptatum.
													td(width="144" align="center" valign="top")
														table(width="125" border="0" cellspacing="0" cellpadding="0")
															tr
																td(valign="top" align="left")
																	img(src="img/pic002.jpg", alt="gallery" width="123" height="81" style="display:block")
															tr
																td(align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 14px; color:#B30467")  Lorem ipsum dolor sit amet.
															tr
																td(align="left" valign="middle" style="font-family: Georgia, 'Times New Roman', 'Times', serig; font-size: 14px; color: #000000") Laudantium dolorum aliquam, itaque quo. Distinctio, at. Sint eum magnam magni quo.
													td(width="144" align="center" valign="top")
														table(width="125" border="0" cellspacing="0" cellpadding="0")
															tr
																td(valign="top" align="left")
																	img(src="img/pic003.jpg", alt="gallery" width="123" height="81" style="display:block")
															tr
																td(align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 14px; color:#B30467")  Lorem ipsum dolor sit amet.
															tr
																td(align="left" valign="middle" style="font-family: Georgia, 'Times New Roman', 'Times', serig; font-size: 14px; color: #000000") Doloremque quisquam aliquid voluptas suscipit. Laudantium obcaecati blanditiis nobis qui ratione beatae.
													td(width="143" align="right" valign="top")
														table(width="125" border="0" cellspacing="0" cellpadding="0")
															tr
																td(valign="top" align="left")
																	img(src="img/pic004.jpg", alt="gallery" width="123" height="81" style="display:block")
															tr
																td(align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 14px; color:#B30467")  Lorem ipsum dolor sit amet.
															tr
																td(align="left" valign="middle" style="font-family: Georgia, 'Times New Roman', 'Times', serig; font-size: 14px; color: #000000") Provident vero, itaque est deserunt nobis sunt minima, commodi officia cupiditate fugit!
									tr
										td(valign="middle" align="center" style="padding-top: 15px; padding-bottom: 15px")
											img(src="img/divider.gif", alt="decoration" style="display:block")
									tr
										td(valign="top" align="left" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 16px; color:#B30467; padding-bottom: 15px") 
											b Contact us
									tr
										td(valign="top" align="left" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 14px; color:#000000; padding-bottom: 10px")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, ducimus molestiae! Veritatis itaque debitis unde.
									tr
										td(align="center" valign="middle")