.abt_us {
  background-image: url("../img/about_us_cars.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  height: 80vh;
  padding-top: 65px; }
  .abt_us__wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .abt_us__content {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 680px;
    width: 100%; }
  .abt_us__title {
    margin-bottom: 40px; }
  .abt_us__text {
    margin-bottom: 60px; }
  .abt_us button.abt_us__button {
    margin-top: 0;
    margin-left: 0; }

@media (max-width: 1200px) {
  .abt_us {
    min-height: 400px; } }

@media (max-width: 999px) {
  .abt_us {
    padding-top: 30px; }
    .abt_us__content {
      max-width: 550px; }
    .abt_us__title {
      margin-bottom: 30px; } }

@media (max-width: 767px) {
  .abt_us {
    height: auto; }
    .abt_us__content {
      max-width: 500px; } }

@media (max-width: 479px) {
  .abt_us {
    min-height: 450px;
    padding-top: 15px; }
    .abt_us__content {
      padding: 0 15px;
      max-width: 450px; }
    .abt_us__title {
      margin-bottom: 15px; }
    .abt_us__text {
      margin-bottom: 20px; }
    .abt_us__button {
      max-width: 200px; } }
