.credit_body h3 {
  text-align: center;
  text-transform: uppercase;
  max-width: 780px;
  margin: 0 auto; }

.credit_body .wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .credit_body .wrap section {
    padding-bottom: 95px; }
  .credit_body .wrap section:nth-child(1) {
    padding-top: 45px; }
    .credit_body .wrap section:nth-child(1) h3:nth-child(2) {
      text-transform: lowercase;
      padding-bottom: 50px; }
    .credit_body .wrap section:nth-child(1) table {
      width: 890px;
      border-collapse: collapse; }
      .credit_body .wrap section:nth-child(1) table td {
        width: 50%;
        padding-left: 30px;
        border: 1px solid #2d2d2d;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px; }
        .credit_body .wrap section:nth-child(1) table td span {
          display: block; }
  .credit_body .wrap section:nth-child(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .credit_body .wrap section:nth-child(2) article {
      width: 45%; }
      .credit_body .wrap section:nth-child(2) article h5:nth-child(1) {
        font-weight: bold;
        padding-bottom: 35px;
        padding-top: 0; }
      .credit_body .wrap section:nth-child(2) article h5 {
        padding: 30px 0; }
      .credit_body .wrap section:nth-child(2) article li {
        margin-left: 17px; }
      .credit_body .wrap section:nth-child(2) article table {
        border-collapse: collapse;
        text-align: center; }
        .credit_body .wrap section:nth-child(2) article table tr td:nth-child(1) {
          width: 30%;
          background-color: #2d2d2d;
          color: #fff; }
        .credit_body .wrap section:nth-child(2) article table tr td {
          border: 1px solid #fff;
          padding: 15px 15px; }
        .credit_body .wrap section:nth-child(2) article table tr td:nth-child(n+2) {
          font-weight: bold; }
        .credit_body .wrap section:nth-child(2) article table tr:nth-child(1) td:nth-child(2) {
          font-weight: 100;
          text-align: left;
          padding-top: 0;
          background-color: #2d2d2d;
          color: #fff; }
        .credit_body .wrap section:nth-child(2) article table tr:nth-child(2) {
          border: none; }
          .credit_body .wrap section:nth-child(2) article table tr:nth-child(2) td:nth-child(n+2) {
            background-color: #555555; }
        .credit_body .wrap section:nth-child(2) article table tr:nth-child(2n+2) td:nth-child(n+2) {
          background-color: #555555;
          color: #fff; }
  .credit_body .wrap section:nth-child(4) {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .credit_body .wrap section:nth-child(4) article .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 10px 0; }
      .credit_body .wrap section:nth-child(4) article .row .label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 330px;
        height: 55px;
        background-color: #555555;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center; }
        .credit_body .wrap section:nth-child(4) article .row .label p {
          color: #fff; }
      .credit_body .wrap section:nth-child(4) article .row input {
        background-color: #e8e8e8;
        -webkit-border-radius: 0;
                border-radius: 0;
        margin-left: 20px;
        width: 185px;
        height: 55px;
        text-align: center;
        color: #555555; }
      .credit_body .wrap section:nth-child(4) article .row .inputs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
    .credit_body .wrap section:nth-child(4) article .row:last-child input {
      width: 185px;
      height: 24px;
      background-color: #555555;
      color: #fff; }
    .credit_body .wrap section:nth-child(4) article:nth-child(2) .row:last-child .label:first-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background-color: #FFF;
      margin-right: 10px; }
      .credit_body .wrap section:nth-child(4) article:nth-child(2) .row:last-child .label:first-child p {
        background-color: #555555;
        width: 100%; }
    .credit_body .wrap section:nth-child(4) article:nth-child(2) .row:last-child .label:last-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background-color: #FFF;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 185px; }
      .credit_body .wrap section:nth-child(4) article:nth-child(2) .row:last-child .label:last-child p {
        background-color: #555555;
        margin-left: 20px;
        width: 185px; }
      .credit_body .wrap section:nth-child(4) article:nth-child(2) .row:last-child .label:last-child input {
        width: 185px; }
    .credit_body .wrap section:nth-child(4) article:nth-child(2) .row .active {
      background-color: #555555; }
