.head-bg {
  background-image: url("../img/header_bg_page2.jpg");
  background-position: left;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 150px;
  padding-bottom: 120px;
  background-repeat: no-repeat; }
  .head-bg .wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 115px; }
  .head-bg .text h2 {
    color: #fff;
    margin-bottom: 45px; }
  .head-bg .text h3 {
    color: #fff;
    font-family: "avenir-medium", sans-serif; }
