.bg-control_process_icon_1 {
  width: 204px;
  height: 166px;
  background: url("../img/css_sprites2x.png") -538px -10px; }

.bg-control_process_icon_1_hover {
  width: 204px;
  height: 166px;
  background: url("../img/css_sprites2x.png") -538px -196px; }

.bg-control_process_icon_2 {
  width: 186px;
  height: 236px;
  background: url("../img/css_sprites2x.png") -10px -244px; }

.bg-control_process_icon_2_hover {
  width: 186px;
  height: 236px;
  background: url("../img/css_sprites2x.png") -216px -244px; }

.bg-control_process_icon_3 {
  width: 244px;
  height: 214px;
  background: url("../img/css_sprites2x.png") -10px -10px; }

.bg-control_process_icon_3_hover {
  width: 244px;
  height: 214px;
  background: url("../img/css_sprites2x.png") -274px -10px; }

.bg-footer_email_icon_1 {
  width: 44px;
  height: 44px;
  background: url("../img/css_sprites2x.png") -140px -968px; }

.bg-footer_email_icon_1_hover {
  width: 44px;
  height: 44px;
  background: url("../img/css_sprites2x.png") -76px -968px; }

.bg-footer_email_icon_2 {
  width: 98px;
  height: 94px;
  background: url("../img/css_sprites2x.png") -810px -698px; }

.bg-footer_email_icon_2_hover {
  width: 98px;
  height: 94px;
  background: url("../img/css_sprites2x.png") -960px -10px; }

.bg-footer_email_icon_3 {
  width: 96px;
  height: 96px;
  background: url("../img/css_sprites2x.png") -762px -572px; }

.bg-footer_email_icon_3_hover {
  width: 96px;
  height: 96px;
  background: url("../img/css_sprites2x.png") -538px -382px; }

.bg-footer_email_icon_4 {
  width: 96px;
  height: 94px;
  background: url("../img/css_sprites2x.png") -960px -124px; }

.bg-footer_email_icon_4_hover {
  width: 96px;
  height: 94px;
  background: url("../img/css_sprites2x.png") -960px -238px; }

.bg-footer_email_icon_5 {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites2x.png") -10px -968px; }

.bg-footer_email_icon_5_hover {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites2x.png") -958px -892px; }

.bg-footer_email_icon_6 {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites2x.png") -892px -892px; }

.bg-footer_email_icon_6_hover {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites2x.png") -826px -892px; }

.bg-header_menu_icon_1 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -160px -892px; }

.bg-header_menu_icon_1_hover {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -678px -892px; }

.bg-header_menu_icon_2 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -752px -892px; }

.bg-header_menu_icon_2_hover {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -604px -892px; }

.bg-header_menu_icon_3 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -530px -892px; }

.bg-header_menu_icon_3_hover {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -456px -892px; }

.bg-header_menu_icon_4 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -382px -892px; }

.bg-header_menu_icon_4_hover {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -436px; }

.bg-header_menu_icon_5 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -308px -892px; }

.bg-header_menu_icon_5_hover {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -86px -892px; }

.bg-header_menu_icon_6 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -234px -892px; }

.bg-price_logo_1 {
  width: 38px;
  height: 38px;
  background: url("../img/css_sprites2x.png") -204px -968px; }

.bg-price_logo_2 {
  width: 36px;
  height: 36px;
  background: url("../img/css_sprites2x.png") -960px -836px; }

.bg-shop_1 {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites2x.png") -960px -352px; }

.bg-shop_2 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -596px; }

.bg-shop_3 {
  width: 56px;
  height: 56px;
  background: url("../img/css_sprites2x.png") -10px -892px; }

.bg-shop_4 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -422px -404px; }

.bg-shop_5 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -422px -324px; }

.bg-shop_soc_1 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -878px -572px; }

.bg-shop_soc_1_hover {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -756px; }

.bg-shop_soc_2 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -676px; }

.bg-shop_soc_2_hover {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -516px; }

.bg-shop_soc_3 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -422px -244px; }

.bg-shop_soc_3_hover {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -654px -382px; }

.bg-tutorial_img_1 {
  width: 132px;
  height: 164px;
  background: url("../img/css_sprites2x.png") -608px -500px; }

.bg-tutorial_img_1_hover {
  width: 132px;
  height: 164px;
  background: url("../img/css_sprites2x.png") -322px -698px; }

.bg-tutorial_img_2 {
  width: 180px;
  height: 178px;
  background: url("../img/css_sprites2x.png") -210px -500px; }

.bg-tutorial_img_2_hover {
  width: 180px;
  height: 178px;
  background: url("../img/css_sprites2x.png") -10px -500px; }

.bg-tutorial_img_3 {
  width: 162px;
  height: 162px;
  background: url("../img/css_sprites2x.png") -762px -390px; }

.bg-tutorial_img_3_hover {
  width: 162px;
  height: 162px;
  background: url("../img/css_sprites2x.png") -762px -208px; }

.bg-tutorial_img_4 {
  width: 148px;
  height: 140px;
  background: url("../img/css_sprites2x.png") -642px -698px; }

.bg-tutorial_img_4_hover {
  width: 148px;
  height: 140px;
  background: url("../img/css_sprites2x.png") -474px -698px; }

.bg-tutorial_img_5 {
  width: 136px;
  height: 174px;
  background: url("../img/css_sprites2x.png") -166px -698px; }

.bg-tutorial_img_5_hover {
  width: 136px;
  height: 174px;
  background: url("../img/css_sprites2x.png") -10px -698px; }

.bg-tutorial_img_6 {
  width: 178px;
  height: 178px;
  background: url("../img/css_sprites2x.png") -410px -500px; }

.bg-tutorial_img_6_hover {
  width: 178px;
  height: 178px;
  background: url("../img/css_sprites2x.png") -762px -10px; }
