.bg-shop_1 {
  width: 32px;
  height: 32px;
  background: url("../img/css_sprites_pg2.png") -10px -10px; }

.bg-shop_2 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites_pg2.png") -112px -60px; }

.bg-shop_3 {
  width: 28px;
  height: 28px;
  background: url("../img/css_sprites_pg2.png") -162px -60px; }

.bg-shop_4 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites_pg2.png") -60px -62px; }

.bg-shop_5 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites_pg2.png") -112px -10px; }

.bg-shop_soc_1 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites_pg2.png") -162px -10px; }

.bg-shop_soc_1_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites_pg2.png") -10px -112px; }

.bg-shop_soc_2 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites_pg2.png") -60px -112px; }

.bg-shop_soc_2_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites_pg2.png") -110px -112px; }

.bg-shop_soc_3 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites_pg2.png") -10px -62px; }

.bg-shop_soc_3_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites_pg2.png") -62px -10px; }
