.bg-control_process_icon_1 {
  width: 102px;
  height: 83px;
  background: url("../img/css_sprites.png") -294px -10px; }

.bg-control_process_icon_1:hover {
  background: url("../img/css_sprites.png") -294px -113px; }

.bg-control_process_icon_1_hover {
  width: 102px;
  height: 83px;
  background: url("../img/css_sprites.png") -294px -113px; }

.bg-control_process_icon_2 {
  width: 93px;
  height: 118px;
  background: url("../img/css_sprites.png") -10px -137px; }

.bg-control_process_icon_2:hover {
  background: url("../img/css_sprites.png") -123px -137px; }

.bg-control_process_icon_2_hover {
  width: 93px;
  height: 118px;
  background: url("../img/css_sprites.png") -123px -137px; }

.bg-control_process_icon_3 {
  width: 122px;
  height: 107px;
  background: url("../img/css_sprites.png") -10px -10px; }

.bg-control_process_icon_3:hover {
  background: url("../img/css_sprites.png") -152px -10px; }

.bg-control_process_icon_3_hover {
  width: 122px;
  height: 107px;
  background: url("../img/css_sprites.png") -152px -10px; }

.bg-footer_email_icon_1 {
  width: 22px;
  height: 22px;
  background: url("../img/css_sprites.png") -276px -541px; }

.bg-footer_email_icon_1:hover {
  background: url("../img/css_sprites.png") -569px -434px; }

.bg-footer_email_icon_1_hover {
  width: 22px;
  height: 22px;
  background: url("../img/css_sprites.png") -569px -434px; }

.bg-footer_email_icon_2 {
  width: 49px;
  height: 47px;
  background: url("../img/css_sprites.png") -517px -100px; }

.bg-footer_email_icon_2:hover {
  background: url("../img/css_sprites.png") -517px -167px; }

.bg-footer_email_icon_2_hover {
  width: 49px;
  height: 47px;
  background: url("../img/css_sprites.png") -517px -167px; }

.bg-footer_email_icon_3 {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites.png") -517px -368px; }

.bg-footer_email_icon_3:hover {
  background: url("../img/css_sprites.png") -416px -309px; }

.bg-footer_email_icon_3_hover {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites.png") -416px -309px; }

.bg-footer_email_icon_4 {
  width: 48px;
  height: 47px;
  background: url("../img/css_sprites.png") -517px -301px; }

.bg-footer_email_icon_4:hover {
  background: url("../img/css_sprites.png") -517px -234px; }

.bg-footer_email_icon_4_hover {
  width: 48px;
  height: 47px;
  background: url("../img/css_sprites.png") -517px -234px; }

.bg-footer_email_icon_5 {
  width: 23px;
  height: 23px;
  background: url("../img/css_sprites.png") -233px -541px; }

.bg-footer_email_icon_5:hover {
  background: url("../img/css_sprites.png") -190px -541px; }

.bg-footer_email_icon_5_hover {
  width: 23px;
  height: 23px;
  background: url("../img/css_sprites.png") -190px -541px; }

.bg-footer_email_icon_6 {
  width: 23px;
  height: 23px;
  background: url("../img/css_sprites.png") -147px -541px; }

.bg-footer_email_icon_6:hover {
  background: url("../img/css_sprites.png") -104px -541px; }

.bg-footer_email_icon_6_hover {
  width: 23px;
  height: 23px;
  background: url("../img/css_sprites.png") -104px -541px; }

.bg-header_menu_icon_1 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -255px -491px; }

.bg-header_menu_icon_1:hover {
  background: url("../img/css_sprites.png") -302px -491px; }

.bg-header_menu_icon_1_hover {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -302px -491px; }

.bg-header_menu_icon_2 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -443px -491px; }

.bg-header_menu_icon_2:hover {
  background: url("../img/css_sprites.png") -57px -541px; }

.bg-header_menu_icon_2_hover {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -57px -541px; }

.bg-header_menu_icon_3 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -537px -491px; }

.bg-header_menu_icon_3:hover {
  background: url("../img/css_sprites.png") -490px -491px; }

.bg-header_menu_icon_3_hover {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -490px -491px; }

.bg-header_menu_icon_4 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -10px -541px; }

.bg-header_menu_icon_4:hover {
  background: url("../img/css_sprites.png") -344px -216px; }

.bg-header_menu_icon_4_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -344px -216px; }

.bg-header_menu_icon_5 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -349px -491px; }

.bg-header_menu_icon_5:hover {
  background: url("../img/css_sprites.png") -208px -491px; }

.bg-header_menu_icon_5_hover {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -208px -491px; }

.bg-header_menu_icon_6 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -396px -491px; }

.bg-price_logo_1 {
  width: 19px;
  height: 19px;
  background: url("../img/css_sprites.png") -452px -434px; }

.bg-price_logo_2 {
  width: 18px;
  height: 18px;
  background: url("../img/css_sprites.png") -236px -237px; }

.bg-shop_1 {
  width: 32px;
  height: 32px;
  background: url("../img/css_sprites.png") -517px -434px; }

.bg-shop_2 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -10px -491px; }

.bg-shop_3 {
  width: 28px;
  height: 28px;
  background: url("../img/css_sprites.png") -160px -491px; }

.bg-shop_4 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -110px -491px; }

.bg-shop_5 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -60px -491px; }

.bg-shop_soc_1 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -452px -384px; }

.bg-shop_soc_1:hover {
  background: url("../img/css_sprites.png") -329px -325px; }

.bg-shop_soc_1_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -329px -325px; }

.bg-shop_soc_2 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -329px -275px; }

.bg-shop_soc_2:hover {
  background: url("../img/css_sprites.png") -294px -216px; }

.bg-shop_soc_2_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -294px -216px; }

.bg-shop_soc_3 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -236px -187px; }

.bg-shop_soc_3:hover {
  background: url("../img/css_sprites.png") -236px -137px; }

.bg-shop_soc_3_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -236px -137px; }

.bg-tutorial_img_1 {
  width: 66px;
  height: 82px;
  background: url("../img/css_sprites.png") -186px -384px; }

.bg-tutorial_img_1:hover {
  background: url("../img/css_sprites.png") -272px -384px; }

.bg-tutorial_img_1_hover {
  width: 66px;
  height: 82px;
  background: url("../img/css_sprites.png") -272px -384px; }

.bg-tutorial_img_2 {
  width: 80px;
  height: 79px;
  background: url("../img/css_sprites.png") -416px -111px; }

.bg-tutorial_img_2:hover {
  background: url("../img/css_sprites.png") -416px -210px; }

.bg-tutorial_img_2_hover {
  width: 80px;
  height: 79px;
  background: url("../img/css_sprites.png") -416px -210px; }

.bg-tutorial_img_3 {
  width: 81px;
  height: 81px;
  background: url("../img/css_sprites.png") -416px -10px; }

.bg-tutorial_img_3:hover {
  background: url("../img/css_sprites.png") -228px -275px; }

.bg-tutorial_img_3_hover {
  width: 81px;
  height: 81px;
  background: url("../img/css_sprites.png") -228px -275px; }

.bg-tutorial_img_4 {
  width: 74px;
  height: 70px;
  background: url("../img/css_sprites.png") -358px -384px; }

.bg-tutorial_img_4:hover {
  background: url("../img/css_sprites.png") -517px -10px; }

.bg-tutorial_img_4_hover {
  width: 74px;
  height: 70px;
  background: url("../img/css_sprites.png") -517px -10px; }

.bg-tutorial_img_5 {
  width: 68px;
  height: 87px;
  background: url("../img/css_sprites.png") -98px -384px; }

.bg-tutorial_img_5:hover {
  background: url("../img/css_sprites.png") -10px -384px; }

.bg-tutorial_img_5_hover {
  width: 68px;
  height: 87px;
  background: url("../img/css_sprites.png") -10px -384px; }

.bg-tutorial_img_6 {
  width: 89px;
  height: 89px;
  background: url("../img/css_sprites.png") -10px -275px; }

.bg-tutorial_img_6:hover {
  background: url("../img/css_sprites.png") -119px -275px; }

.bg-tutorial_img_6_hover {
  width: 89px;
  height: 89px;
  background: url("../img/css_sprites.png") -119px -275px; }
