.footer_contacts {
  padding-top: 50px;
  background-image: url("../img/footer_bg_image.jpg");
  background-repeat: no-repeat; }
  .footer_contacts .wrap {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .footer_contacts .wrap .text h2 {
      color: #fff;
      font-size: 18px;
      padding-bottom: 40px; }
      .footer_contacts .wrap .text h2 span {
        font-size: 18px; }
    .footer_contacts .wrap section:nth-child(1) {
      width: 20%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      .footer_contacts .wrap section:nth-child(1) a {
        padding-bottom: 10px;
        color: #fff; }
      .footer_contacts .wrap section:nth-child(1) button {
        margin-top: 5px;
        font-size: 18px;
        line-height: 1.5em; }
    .footer_contacts .wrap section:nth-child(1)::before {
      position: absolute;
      left: 0;
      width: 22px;
      height: 22px;
      background: url("../img/css_sprites.png") -276px -541px;
      content: ""; }
      .footer_contacts .wrap section:nth-child(1)::before a {
        font-size: 16px; }
    .footer_contacts .wrap section:nth-child(1):hover::before {
      background: url("../img/css_sprites.png") -569px -434px; }
    .footer_contacts .wrap section:nth-child(2) {
      width: 80%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding: 0 200px; }
      .footer_contacts .wrap section:nth-child(2) aside {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer_contacts .wrap section:nth-child(2) aside a {
          margin-top: 20px;
          color: #fff;
          font-size: 16px;
          border-bottom: 1px solid #fff; }
      .footer_contacts .wrap section:nth-child(2) aside:hover a {
        color: #f00;
        border-bottom: 1px solid #f00; }
    .footer_contacts .wrap section:nth-child(3) {
      width: 20%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .footer_contacts .wrap section:nth-child(3) aside {
        position: relative;
        margin-bottom: 20px;
        width: 100%; }
        .footer_contacts .wrap section:nth-child(3) aside p {
          color: #fff;
          font-size: 16px; }
        .footer_contacts .wrap section:nth-child(3) aside a {
          color: #fff;
          font-size: 16px; }
        .footer_contacts .wrap section:nth-child(3) aside .sprite {
          margin-right: 15px; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(1)::before {
        position: absolute;
        left: -40px;
        top: 5px;
        width: 23px;
        height: 23px;
        background: url("../img/css_sprites.png") -233px -541px;
        content: ""; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(1):hover::before {
        background: url("../img/css_sprites.png") -190px -541px; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(2)::before {
        position: absolute;
        left: -40px;
        width: 23px;
        height: 23px;
        background: url("../img/css_sprites.png") -147px -541px;
        content: ""; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(2):hover::before {
        background: url("../img/css_sprites.png") -104px -541px; }
  .footer_contacts .wrap aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .footer_contacts .wrap img {
    margin-left: 20px;
    margin-right: 15px; }
  .footer_contacts .wrap:nth-child(2) {
    padding-bottom: 60px; }

footer {
  background-color: #2d2d2d; }
  footer .wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px;
    position: relative; }
    footer .wrap .text h5 {
      color: #fff;
      padding: 10px 0; }
    footer .wrap section {
      position: relative; }
      footer .wrap section .left_arrow {
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff; }
      footer .wrap section .left_arrow::before {
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff; }
      footer .wrap section .left_arrow::after {
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff; }
    footer .wrap section:nth-child(1) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-right: 225px;
      background-color: #555555;
      width: 100%;
      left: -65%;
      -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
              transform: skewX(-45deg); }
      footer .wrap section:nth-child(1) .text {
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg); }
