.botnav .wrap {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.botnav ul {
  position: relative;
  right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 70px 0px; }
  .botnav ul li {
    margin: 0 6px;
    position: relative; }
  .botnav ul li:last-child:after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #2d2d2d;
    border-bottom: 2px solid #2d2d2d;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: 35%;
    left: 20px; }

@media (max-width: 1599px) {
  .botnav {
    padding: 0 10px; }
    .botnav .pages {
      margin: 35px 0; } }

@media (max-width: 768px) {
  .botnav {
    display: none; } }
