.control_proc {
  padding-top: 70px;
  background-image: url("../img/control_proc_bg_image.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .control_proc .wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .control_proc .wrap .text h2 {
      color: #fff;
      margin-bottom: 50px; }
    .control_proc .wrap button {
      margin-bottom: 80px; }
  .control_proc .wrap:nth-child(2) {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .control_proc .wrap:nth-child(2) .icon {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .control_proc .wrap:nth-child(2) .icon .img {
        height: 100px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .control_proc .wrap:nth-child(2) .icon h4 {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 80px;
        color: #faf4f4;
        max-width: 350px; }
