@font-face {
  font-family: 'OpenSans-light';
  src: url("../fonts/OpenSans-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-regular';
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'wold in the city light';
  src: url("../fonts/Wolf in the City Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'wolf';
  src: url("../fonts/Wolf.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
