@media (max-width: 320px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto; }
    header a {
      margin: 0; }
  header ul > li {
    display: block;
    text-align: center;
    padding: 10px 0; }
    header ul > li article {
      margin: 0; } }
