@font-face {
  font-family: "Roboto-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }
