@font-face {
  font-family: "avenir-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNext-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "avenir-demibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNext-DemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "avenir-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNext-Medium.ttf") format("truetype"); }
