@font-face {
  font-family: "avenirNext-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/avenirnext-bold.ttf") format("truetype"); }

@font-face {
  font-family: "avenirNext-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/avenirnext-regular.ttf") format("truetype"); }

@font-face {
  font-family: "avenirNext-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNext-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "avenirNext-demibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNext-DemiBold.ttf") format("truetype"); }
