@font-face {
  font-family: "avenirNext-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/avenirnext-bold.ttf") format("truetype"); }

@font-face {
  font-family: "avenirNext-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/avenirnext-regular.ttf") format("truetype"); }

@font-face {
  font-family: "avenirNext-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNext-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "avenirNext-demibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNext-DemiBold.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5em; }

h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "avenirNext-bold" sans-serif; }

h2 {
  font-size: 36px;
  font-family: "avenirNext-bold" sans-serif; }

h3 {
  font-size: 24px;
  font-family: "avenirNext-bold" sans-serif; }

h4 {
  font-weight: 100;
  font-size: 18px;
  font-family: "avenirNext-medium" sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-size: 14px;
  font-family: "avenirNext-medium" sans-serif; }

header {
  background-color: #9f9f9f; }

.btn {
  width: 150px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #fff;
  line-height: 1.8em;
  background-color: inherit; }
  .btn__red {
    font-size: 18px;
    width: 200px;
    text-align: center;
    border: none;
    background-color: #f00;
    font-family: "avenirNext-demibold" sans-serif; }

.wrap {
  margin: 0 auto;
  width: 1280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrap aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .wrap aside:nth-child(1) {
    width: 25%; }
  .wrap aside:nth-child(2) {
    color: #fff;
    width: 50%; }
  .wrap aside:nth-child(3) {
    padding: 0 50px;
    width: 25%; }
  .wrap .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .wrap .contacts img {
      padding-right: 10px; }
  .wrap nav {
    color: #2d2d2d; }
    .wrap nav ul, .wrap nav li {
      display: inline-block; }
      .wrap nav ul li, .wrap nav li li {
        position: relative;
        padding-left: 25px;
        padding-right: 20px; }
      .wrap nav ul li::before, .wrap nav li li::before {
        position: absolute;
        left: 10px;
        top: 35%;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        content: " ";
        width: 5px;
        height: 5px;
        border-left: 2px solid #2d2d2d;
        border-bottom: 2px solid #2d2d2d; }

.menu {
  height: 70px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .menu .logo {
    color: #fff;
    font-size: 30px; }

.header_bg {
  height: -webkit-calc(85vh);
  height: calc(85vh);
  background-image: url("../img/header_bg_image.jpg");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }
  .header_bg .wrap {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 170px; }
  .header_bg .text {
    position: relative; }
    .header_bg .text h4 {
      width: 630px;
      padding: 15px; }
    .header_bg .text button {
      margin-top: 100px;
      margin-left: 50%; }
