@font-face {
  font-family: "Roboto-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

p {
  font-size: 14px; }

.row {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative; }

.section {
  width: 100%;
  height: 40px;
  position: absolute;
  -webkit-transform: skewX(-44deg);
      -ms-transform: skewX(-44deg);
          transform: skewX(-44deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff; }
  .section__grey {
    background-color: #555555;
    position: absolute;
    left: -20px;
    width: 35%; }
  .section__dark-grey {
    background-color: #2d2d2d;
    position: absolute;
    left: 33%;
    width: 35%; }
  .section__red {
    background-color: #f00;
    position: absolute;
    left: 66%;
    width: 33%; }
  .section__logo {
    -webkit-transform: skewX(-44deg);
        -ms-transform: skewX(-44deg);
            transform: skewX(-44deg);
    background-color: #2d2d2d;
    position: relative;
    left: -50px;
    width: 33%;
    height: 70px; }
  .section aside {
    -webkit-transform: skewX(44deg);
        -ms-transform: skewX(44deg);
            transform: skewX(44deg);
    padding-left: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .section aside img {
      padding-right: 10px; }

.logo {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transform: skewX(44deg);
      -ms-transform: skewX(44deg);
          transform: skewX(44deg); }
  .logo h2 {
    padding-right: 100px; }

.btn {
  cursor: pointer;
  padding: 3px 25px;
  background-color: inherit;
  color: #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px; }
  .btn__red {
    background-color: #f00;
    border: none; }

.menu {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  left: -30px; }
  .menu ul {
    padding: 0;
    list-style: none; }
    .menu ul li {
      padding: 0 12px;
      display: inline-block; }
      .menu ul li a {
        text-decoration: none;
        color: #2d2d2d; }
