@font-face {
  font-family: "Roboto-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.top-line {
  width: 100%;
  height: 40px;
  position: relative; }
  .top-line--grey {
    background-color: #555555; }
  .top-line--dark-grey {
    background-color: #2d2d2d; }
  .top-line--red {
    background-color: #f00; }
  .top-line--skew {
    -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
            transform: skewX(-45deg); }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: skewX(44deg);
      -ms-transform: skewX(44deg);
          transform: skewX(44deg); }
  .contacts__hrefs--middle {
    padding-left: 30px; }
  .contacts__items {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px; }

.button {
  color: #fff;
  background-color: inherit;
  border: 1px solid #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 2px 20px;
  cursor: pointer; }
  .button--red {
    background-color: #f00;
    border: 1px solid #f00; }

.image {
  padding: 0 10px; }

.nav {
  position: relative;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .nav__left {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 125px;
    left: -25px;
    -webkit-transform: skewX(-44deg);
        -ms-transform: skewX(-44deg);
            transform: skewX(-44deg);
    width: 32%; }
    .nav__left--dark-grey {
      background-color: #2d2d2d; }
  .nav__right {
    width: 68%;
    text-align: right; }

.logo .header-logo {
  color: #fff;
  font-size: 36px;
  -webkit-transform: skewX(44deg);
      -ms-transform: skewX(44deg);
          transform: skewX(44deg); }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu ul {
    list-style: none; }
    .menu ul li {
      display: inline-block;
      padding: 30px 14px; }
      .menu ul li a {
        text-decoration: none;
        color: #2d2d2d; }

.main {
  width: 1920px;
  height: 800px;
  background-image: url("../img/header_bg_image.jpg"); }
