@font-face {
  font-family: "avenir-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Bold.eot");
  src: url("../fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "avenir-demibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Demi.eot");
  src: url("../fonts/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype"); }

@font-face {
  font-family: "avenir-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5em;
  font-family: "avenir-medium", sans-serif; }

h1, h2, h3, h4, h5, p {
  color: #2d2d2d; }

h1, h2, h3 {
  font-family: "avenir-bold", sans-serif; }

h4, h5, p {
  font-weight: 100; }

h1, h2 {
  text-transform: uppercase; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px;
  font-weight: 900; }
  h2 span.red {
    color: #f00;
    font-size: 36px; }

h3 {
  font-size: 24px;
  font-weight: 100; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-size: 14px; }

span.red {
  color: #f00; }

div[class*=".bg-"] {
  margin: 0;
  cursor: pointer; }

.btn {
  width: 150px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #fff;
  line-height: 1.8em;
  background-color: inherit; }
  .btn__red {
    font-size: 18px;
    width: 200px;
    text-align: center;
    border: 1px solid #f00;
    background-color: #f00;
    font-family: "avenir-demibold"; }
  .btn__red:hover {
    background-color: #fff;
    color: #f00;
    border: 1px solid #f00; }

input[type="text"] {
  height: 40px;
  padding: 5px 15px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: none;
  outline: none; }

button {
  outline: none; }

select {
  outline: none; }

.left_arrow {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 8px;
  height: 8px;
  border-left: 3px solid #f00;
  border-bottom: 3px solid #f00;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.left_arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 3px solid #f00;
  border-bottom: 3px solid #f00;
  content: "";
  left: -14px;
  top: 11px; }

.left_arrow::after {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 3px solid #f00;
  border-bottom: 3px solid #f00;
  content: "";
  left: 8px;
  bottom: 8px; }

.wrap {
  margin: 0 auto;
  max-width: 1280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.active {
  color: #f00; }

header {
  background-color: #f00; }
  header .wrap:nth-child(1) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    height: 42px;
    background-color: #f00; }
    header .wrap:nth-child(1) aside {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    header .wrap:nth-child(1) aside:nth-child(1) {
      width: 100%;
      height: 42px;
      background-color: #555555;
      position: absolute;
      left: -26%;
      -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
              transform: skewX(-45deg);
      overflow: none; }
    header .wrap:nth-child(1) aside:nth-child(2) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding: 0 30px;
      width: 50%;
      height: 42px;
      background-color: #2d2d2d;
      position: absolute;
      left: 24.8%;
      -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
              transform: skewX(-45deg);
      overflow: none; }
      header .wrap:nth-child(1) aside:nth-child(2) button {
        margin: 0;
        padding: 0;
        height: 30px;
        width: 150px;
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg);
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        text-align: center; }
      header .wrap:nth-child(1) aside:nth-child(2) button:hover {
        background-color: #f00;
        border: 1px solid #f00; }
      header .wrap:nth-child(1) aside:nth-child(2) span {
        color: #fff;
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg); }
      header .wrap:nth-child(1) aside:nth-child(2) div {
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg); }
      header .wrap:nth-child(1) aside:nth-child(2) a {
        color: #fff;
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg); }
    header .wrap:nth-child(1) aside:nth-child(3) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 20%;
      position: absolute;
      right: 2%;
      height: 42px; }
  header div[class*=".bg-"] {
    margin-right: 5px; }
  header nav {
    color: #2d2d2d; }
    header nav ul, header nav li {
      display: inline-block; }
      header nav ul li, header nav li li {
        position: relative;
        padding: 0 25px; }
      header nav ul li::before, header nav li li::before {
        position: absolute;
        left: 10px;
        top: 35%;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        content: " ";
        width: 5px;
        height: 5px;
        border-left: 2px solid #2d2d2d;
        border-bottom: 2px solid #2d2d2d; }
      header nav ul li:hover, header nav li li:hover {
        color: #f00; }
      header nav ul li:hover::before, header nav li li:hover::before {
        border-left: 2px solid #f00;
        border-bottom: 2px solid #f00; }
      header nav ul .dropdown, header nav li .dropdown {
        position: absolute;
        padding: 15px 20px;
        left: -20px;
        display: none;
        width: 200px;
        height: 120px;
        background-color: #fff; }
        header nav ul .dropdown ul, header nav li .dropdown ul {
          width: 100%; }
          header nav ul .dropdown ul li, header nav li .dropdown ul li {
            color: #2d2d2d;
            display: block;
            margin-bottom: 10px;
            padding-bottom: 4px;
            border-bottom: 1px solid #2d2d2d; }
          header nav ul .dropdown ul li:last-child, header nav li .dropdown ul li:last-child {
            border: none; }
          header nav ul .dropdown ul li:hover, header nav li .dropdown ul li:hover {
            color: #f00;
            border-bottom: 1px solid #f00; }
          header nav ul .dropdown ul li:last-child:hover, header nav li .dropdown ul li:last-child:hover {
            color: #f00;
            border: none; }
      header nav ul li:nth-child(1):hover .dropdown, header nav li li:nth-child(1):hover .dropdown {
        display: block; }
  header .wrap:nth-child(2) {
    background-color: #fff;
    height: 70px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    header .wrap:nth-child(2) aside {
      position: absolute;
      background-color: #2d2d2d;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-right: 100px;
      width: 100%;
      height: 100%;
      left: -79.5%;
      -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
              transform: skewX(-45deg); }
      header .wrap:nth-child(2) aside p {
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg);
        font-size: 30px;
        color: #fff; }
    header .wrap:nth-child(2) nav {
      background-color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      left: 24.3%;
      width: 100%;
      height: 100%; }

.head-bg {
  background-image: url("../img/header_bg_page2.jpg");
  background-position: left;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 150px;
  padding-bottom: 120px;
  background-repeat: no-repeat; }
  .head-bg .wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 115px; }
  .head-bg .text h2 {
    color: #fff;
    margin-bottom: 45px; }
  .head-bg .text h3 {
    color: #fff;
    font-family: "avenir-medium", sans-serif; }

.topnav nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .topnav nav ul {
    margin: 30px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .topnav nav ul li {
      position: relative;
      margin: 0 25px; }
  .topnav nav ul.pages li {
    position: relative;
    margin: 0 6px; }

.topnav nav:nth-child(1) {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .topnav nav:nth-child(1) ul:nth-child(1) li::before {
    content: " ";
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #2d2d2d;
    border-bottom: 2px solid #2d2d2d;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 35%;
    left: -25px; }
  .topnav nav:nth-child(1) ul:nth-child(1) li:first-child::before {
    border: none; }
  .topnav nav:nth-child(1) ul:nth-child(2) li:last-child::after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #2d2d2d;
    border-bottom: 2px solid #2d2d2d;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: 35%;
    left: 20px; }

.content_main .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .content_main .wrap .left {
    width: 23%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .content_main .wrap .left input {
      outline: none; }
    .content_main .wrap .left .filters {
      margin-bottom: 30px;
      background-color: #e8e8e8; }
      .content_main .wrap .left .filters header {
        background-color: #2d2d2d;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0; }
        .content_main .wrap .left .filters header h5 {
          font-family: "avenir-bold", sans-serif;
          text-transform: uppercase;
          padding: 10px 30px;
          position: relative;
          color: #fff; }
        .content_main .wrap .left .filters header .left_arrow {
          margin-right: 30px; }
      .content_main .wrap .left .filters .calc {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .content_main .wrap .left .filters .calc h5 {
          font-family: "avenir-bold", sans-serif;
          text-transform: uppercase;
          padding-left: 30px;
          margin-bottom: 40px;
          position: relative; }
        .content_main .wrap .left .filters .calc h5::after {
          right: 20px;
          top: 50%;
          width: 55%;
          content: "";
          height: 1px;
          background-color: #f00;
          position: absolute; }
        .content_main .wrap .left .filters .calc .short::after {
          width: 40%; }
        .content_main .wrap .left .filters .calc div {
          margin-top: 30px; }
          .content_main .wrap .left .filters .calc div h5 {
            color: #2d2d2d; }
        .content_main .wrap .left .filters .calc p {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          margin: 5px 30px;
          margin-bottom: 0; }
        .content_main .wrap .left .filters .calc label {
          font-size: 16px;
          margin: 0 5px; }
        .content_main .wrap .left .filters .calc input {
          margin-right: 15px;
          text-align: center; }
        .content_main .wrap .left .filters .calc .price p {
          -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
                  justify-content: space-around;
          text-align: center; }
        .content_main .wrap .left .filters .calc .price input {
          margin-right: 0;
          width: 90px;
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          height: 20px; }
        .content_main .wrap .left .filters .calc button {
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center;
          margin: 50px 0; }
    .content_main .wrap .left .docs_adv {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../img/slider_pg2.jpg);
      height: 415px; }
      .content_main .wrap .left .docs_adv h3 {
        text-align: center;
        color: #fff;
        text-transform: uppercase; }
      .content_main .wrap .left .docs_adv button {
        margin-top: 60px; }
  .content_main .wrap .right article:last-child {
    margin-bottom: 0; }
  .content_main .wrap .right article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 275px;
    margin-bottom: 72px;
    margin-left: 30px; }
    .content_main .wrap .right article .img {
      width: 515px;
      height: 100%;
      background-image: url(../img/shop_car_pg2.jpg);
      background-position: 50% 70%;
      margin-right: 60px;
      position: relative; }
      .content_main .wrap .right article .img .hover {
        display: none;
        right: 30px;
        bottom: 15px;
        position: absolute; }
    .content_main .wrap .right article .img:hover .hover {
      cursor: pointer;
      display: block; }
    .content_main .wrap .right article .abt_car {
      width: 390px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .content_main .wrap .right article .abt_car h3 {
        padding-bottom: 20px;
        color: #2d2d2d;
        text-transform: uppercase; }
      .content_main .wrap .right article .abt_car .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; }
        .content_main .wrap .right article .abt_car .details .col {
          height: 220px;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .content_main .wrap .right article .abt_car .details .col h5 {
            font-size: 16px;
            font-family: "avenir-medium", sans-serif;
            font-weight: 600;
            color: #2d2d2d; }
        .content_main .wrap .right article .abt_car .details .icons {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .content_main .wrap .right article .abt_car .details .icons h5 {
            margin-left: 20px; }
        .content_main .wrap .right article .abt_car .details button {
          font-family: "avenir-demibold";
          font-size: 16px;
          width: 170px;
          text-align: center; }
        .content_main .wrap .right article .abt_car .details .col:nth-child(1) .btn {
          color: #f00;
          border: 1px solid #f00; }
        .content_main .wrap .right article .abt_car .details .col:nth-child(1) .btn:hover {
          color: #fff;
          background-color: #f00; }
        .content_main .wrap .right article .abt_car .details .col:nth-child(2) {
          text-align: right; }
          .content_main .wrap .right article .abt_car .details .col:nth-child(2) h2 {
            color: #f00;
            font-size: 30px;
            margin: 0;
            padding: 0; }
          .content_main .wrap .right article .abt_car .details .col:nth-child(2) h5 a {
            text-decoration: underline;
            font-size: 16px;
            font-family: "avenir-bold", sans-serif; }
          .content_main .wrap .right article .abt_car .details .col:nth-child(2) h5 a:hover {
            color: #f00; }
          .content_main .wrap .right article .abt_car .details .col:nth-child(2) .soc {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-around;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
            margin-left: 15px; }
          .content_main .wrap .right article .abt_car .details .col:nth-child(2) button {
            margin-top: 20px; }

.botnav .wrap {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.botnav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 70px 0px; }
  .botnav ul li {
    margin: 0 6px;
    position: relative; }
  .botnav ul li:last-child:after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #2d2d2d;
    border-bottom: 2px solid #2d2d2d;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: 35%;
    left: 20px; }

.footer_contacts {
  padding-top: 50px;
  background-image: url("../img/footer_bg_image.jpg");
  background-repeat: no-repeat; }
  .footer_contacts .wrap {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .footer_contacts .wrap .text h2 {
      color: #fff;
      font-size: 18px;
      padding-bottom: 40px; }
      .footer_contacts .wrap .text h2 span {
        font-size: 18px; }
    .footer_contacts .wrap section:nth-child(1) {
      width: 20%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      .footer_contacts .wrap section:nth-child(1) a {
        padding-bottom: 10px;
        color: #fff; }
      .footer_contacts .wrap section:nth-child(1) button {
        margin-top: 5px;
        font-size: 18px;
        line-height: 1.5em; }
    .footer_contacts .wrap section:nth-child(1)::before {
      position: absolute;
      left: 0;
      width: 22px;
      height: 22px;
      background: url("../img/css_sprites.png") -276px -541px;
      content: ""; }
      .footer_contacts .wrap section:nth-child(1)::before a {
        font-size: 16px; }
    .footer_contacts .wrap section:nth-child(1):hover::before {
      background: url("../img/css_sprites.png") -569px -434px; }
    .footer_contacts .wrap section:nth-child(2) {
      width: 80%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding: 0 200px; }
      .footer_contacts .wrap section:nth-child(2) aside {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer_contacts .wrap section:nth-child(2) aside a {
          margin-top: 20px;
          color: #fff;
          font-size: 16px;
          border-bottom: 1px solid #fff; }
      .footer_contacts .wrap section:nth-child(2) aside:hover a {
        color: #f00;
        border-bottom: 1px solid #f00; }
    .footer_contacts .wrap section:nth-child(3) {
      width: 20%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .footer_contacts .wrap section:nth-child(3) aside {
        position: relative;
        margin-bottom: 20px;
        width: 100%; }
        .footer_contacts .wrap section:nth-child(3) aside p {
          color: #fff;
          font-size: 16px; }
        .footer_contacts .wrap section:nth-child(3) aside a {
          color: #fff;
          font-size: 16px; }
        .footer_contacts .wrap section:nth-child(3) aside .sprite {
          margin-right: 15px; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(1)::before {
        position: absolute;
        left: -40px;
        top: 5px;
        width: 23px;
        height: 23px;
        background: url("../img/css_sprites.png") -233px -541px;
        content: ""; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(1):hover::before {
        background: url("../img/css_sprites.png") -190px -541px; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(2)::before {
        position: absolute;
        left: -40px;
        width: 23px;
        height: 23px;
        background: url("../img/css_sprites.png") -147px -541px;
        content: ""; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(2):hover::before {
        background: url("../img/css_sprites.png") -104px -541px; }
  .footer_contacts .wrap aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .footer_contacts .wrap img {
    margin-left: 20px;
    margin-right: 15px; }
  .footer_contacts .wrap:nth-child(2) {
    padding-bottom: 60px; }

footer {
  background-color: #2d2d2d; }
  footer .wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px;
    position: relative; }
    footer .wrap .text h5 {
      color: #fff;
      padding: 10px 0; }
    footer .wrap section {
      position: relative; }
      footer .wrap section .left_arrow {
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff; }
      footer .wrap section .left_arrow::before {
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff; }
      footer .wrap section .left_arrow::after {
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff; }
    footer .wrap section:nth-child(1) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-right: 225px;
      background-color: #555555;
      width: 100%;
      left: -65%;
      -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
              transform: skewX(-45deg); }
      footer .wrap section:nth-child(1) .text {
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg); }

.bg-control_process_icon_1 {
  width: 102px;
  height: 83px;
  background: url("../img/css_sprites.png") -294px -10px; }

.bg-control_process_icon_1:hover {
  background: url("../img/css_sprites.png") -294px -113px; }

.bg-control_process_icon_1_hover {
  width: 102px;
  height: 83px;
  background: url("../img/css_sprites.png") -294px -113px; }

.bg-control_process_icon_2 {
  width: 93px;
  height: 118px;
  background: url("../img/css_sprites.png") -10px -137px; }

.bg-control_process_icon_2:hover {
  background: url("../img/css_sprites.png") -123px -137px; }

.bg-control_process_icon_2_hover {
  width: 93px;
  height: 118px;
  background: url("../img/css_sprites.png") -123px -137px; }

.bg-control_process_icon_3 {
  width: 122px;
  height: 107px;
  background: url("../img/css_sprites.png") -10px -10px; }

.bg-control_process_icon_3:hover {
  background: url("../img/css_sprites.png") -152px -10px; }

.bg-control_process_icon_3_hover {
  width: 122px;
  height: 107px;
  background: url("../img/css_sprites.png") -152px -10px; }

.bg-footer_email_icon_1 {
  width: 22px;
  height: 22px;
  background: url("../img/css_sprites.png") -276px -541px; }

.bg-footer_email_icon_1:hover {
  background: url("../img/css_sprites.png") -569px -434px; }

.bg-footer_email_icon_1_hover {
  width: 22px;
  height: 22px;
  background: url("../img/css_sprites.png") -569px -434px; }

.bg-footer_email_icon_2 {
  width: 49px;
  height: 47px;
  background: url("../img/css_sprites.png") -517px -100px; }

.bg-footer_email_icon_2:hover {
  background: url("../img/css_sprites.png") -517px -167px; }

.bg-footer_email_icon_2_hover {
  width: 49px;
  height: 47px;
  background: url("../img/css_sprites.png") -517px -167px; }

.bg-footer_email_icon_3 {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites.png") -517px -368px; }

.bg-footer_email_icon_3:hover {
  background: url("../img/css_sprites.png") -416px -309px; }

.bg-footer_email_icon_3_hover {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites.png") -416px -309px; }

.bg-footer_email_icon_4 {
  width: 48px;
  height: 47px;
  background: url("../img/css_sprites.png") -517px -301px; }

.bg-footer_email_icon_4:hover {
  background: url("../img/css_sprites.png") -517px -234px; }

.bg-footer_email_icon_4_hover {
  width: 48px;
  height: 47px;
  background: url("../img/css_sprites.png") -517px -234px; }

.bg-footer_email_icon_5 {
  width: 23px;
  height: 23px;
  background: url("../img/css_sprites.png") -233px -541px; }

.bg-footer_email_icon_5:hover {
  background: url("../img/css_sprites.png") -190px -541px; }

.bg-footer_email_icon_5_hover {
  width: 23px;
  height: 23px;
  background: url("../img/css_sprites.png") -190px -541px; }

.bg-footer_email_icon_6 {
  width: 23px;
  height: 23px;
  background: url("../img/css_sprites.png") -147px -541px; }

.bg-footer_email_icon_6:hover {
  background: url("../img/css_sprites.png") -104px -541px; }

.bg-footer_email_icon_6_hover {
  width: 23px;
  height: 23px;
  background: url("../img/css_sprites.png") -104px -541px; }

.bg-header_menu_icon_1 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -255px -491px; }

.bg-header_menu_icon_1:hover {
  background: url("../img/css_sprites.png") -302px -491px; }

.bg-header_menu_icon_1_hover {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -302px -491px; }

.bg-header_menu_icon_2 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -443px -491px; }

.bg-header_menu_icon_2:hover {
  background: url("../img/css_sprites.png") -57px -541px; }

.bg-header_menu_icon_2_hover {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -57px -541px; }

.bg-header_menu_icon_3 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -537px -491px; }

.bg-header_menu_icon_3:hover {
  background: url("../img/css_sprites.png") -490px -491px; }

.bg-header_menu_icon_3_hover {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -490px -491px; }

.bg-header_menu_icon_4 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -10px -541px; }

.bg-header_menu_icon_4:hover {
  background: url("../img/css_sprites.png") -344px -216px; }

.bg-header_menu_icon_4_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -344px -216px; }

.bg-header_menu_icon_5 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -349px -491px; }

.bg-header_menu_icon_5:hover {
  background: url("../img/css_sprites.png") -208px -491px; }

.bg-header_menu_icon_5_hover {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -208px -491px; }

.bg-header_menu_icon_6 {
  width: 27px;
  height: 27px;
  background: url("../img/css_sprites.png") -396px -491px; }

.bg-price_logo_1 {
  width: 19px;
  height: 19px;
  background: url("../img/css_sprites.png") -452px -434px; }

.bg-price_logo_2 {
  width: 18px;
  height: 18px;
  background: url("../img/css_sprites.png") -236px -237px; }

.bg-shop_1 {
  width: 32px;
  height: 32px;
  background: url("../img/css_sprites.png") -517px -434px; }

.bg-shop_2 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -10px -491px; }

.bg-shop_3 {
  width: 28px;
  height: 28px;
  background: url("../img/css_sprites.png") -160px -491px; }

.bg-shop_4 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -110px -491px; }

.bg-shop_5 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -60px -491px; }

.bg-shop_soc_1 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -452px -384px; }

.bg-shop_soc_1:hover {
  background: url("../img/css_sprites.png") -329px -325px; }

.bg-shop_soc_1_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -329px -325px; }

.bg-shop_soc_2 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -329px -275px; }

.bg-shop_soc_2:hover {
  background: url("../img/css_sprites.png") -294px -216px; }

.bg-shop_soc_2_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -294px -216px; }

.bg-shop_soc_3 {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -236px -187px; }

.bg-shop_soc_3:hover {
  background: url("../img/css_sprites.png") -236px -137px; }

.bg-shop_soc_3_hover {
  width: 30px;
  height: 30px;
  background: url("../img/css_sprites.png") -236px -137px; }

.bg-tutorial_img_1 {
  width: 66px;
  height: 82px;
  background: url("../img/css_sprites.png") -186px -384px; }

.bg-tutorial_img_1:hover {
  background: url("../img/css_sprites.png") -272px -384px; }

.bg-tutorial_img_1_hover {
  width: 66px;
  height: 82px;
  background: url("../img/css_sprites.png") -272px -384px; }

.bg-tutorial_img_2 {
  width: 80px;
  height: 79px;
  background: url("../img/css_sprites.png") -416px -111px; }

.bg-tutorial_img_2:hover {
  background: url("../img/css_sprites.png") -416px -210px; }

.bg-tutorial_img_2_hover {
  width: 80px;
  height: 79px;
  background: url("../img/css_sprites.png") -416px -210px; }

.bg-tutorial_img_3 {
  width: 81px;
  height: 81px;
  background: url("../img/css_sprites.png") -416px -10px; }

.bg-tutorial_img_3:hover {
  background: url("../img/css_sprites.png") -228px -275px; }

.bg-tutorial_img_3_hover {
  width: 81px;
  height: 81px;
  background: url("../img/css_sprites.png") -228px -275px; }

.bg-tutorial_img_4 {
  width: 74px;
  height: 70px;
  background: url("../img/css_sprites.png") -358px -384px; }

.bg-tutorial_img_4:hover {
  background: url("../img/css_sprites.png") -517px -10px; }

.bg-tutorial_img_4_hover {
  width: 74px;
  height: 70px;
  background: url("../img/css_sprites.png") -517px -10px; }

.bg-tutorial_img_5 {
  width: 68px;
  height: 87px;
  background: url("../img/css_sprites.png") -98px -384px; }

.bg-tutorial_img_5:hover {
  background: url("../img/css_sprites.png") -10px -384px; }

.bg-tutorial_img_5_hover {
  width: 68px;
  height: 87px;
  background: url("../img/css_sprites.png") -10px -384px; }

.bg-tutorial_img_6 {
  width: 89px;
  height: 89px;
  background: url("../img/css_sprites.png") -10px -275px; }

.bg-tutorial_img_6:hover {
  background: url("../img/css_sprites.png") -119px -275px; }

.bg-tutorial_img_6_hover {
  width: 89px;
  height: 89px;
  background: url("../img/css_sprites.png") -119px -275px; }

.bg-control_process_icon_1 {
  width: 204px;
  height: 166px;
  background: url("../img/css_sprites2x.png") -538px -10px; }

.bg-control_process_icon_1_hover {
  width: 204px;
  height: 166px;
  background: url("../img/css_sprites2x.png") -538px -196px; }

.bg-control_process_icon_2 {
  width: 186px;
  height: 236px;
  background: url("../img/css_sprites2x.png") -10px -244px; }

.bg-control_process_icon_2_hover {
  width: 186px;
  height: 236px;
  background: url("../img/css_sprites2x.png") -216px -244px; }

.bg-control_process_icon_3 {
  width: 244px;
  height: 214px;
  background: url("../img/css_sprites2x.png") -10px -10px; }

.bg-control_process_icon_3_hover {
  width: 244px;
  height: 214px;
  background: url("../img/css_sprites2x.png") -274px -10px; }

.bg-footer_email_icon_1 {
  width: 44px;
  height: 44px;
  background: url("../img/css_sprites2x.png") -140px -968px; }

.bg-footer_email_icon_1_hover {
  width: 44px;
  height: 44px;
  background: url("../img/css_sprites2x.png") -76px -968px; }

.bg-footer_email_icon_2 {
  width: 98px;
  height: 94px;
  background: url("../img/css_sprites2x.png") -810px -698px; }

.bg-footer_email_icon_2_hover {
  width: 98px;
  height: 94px;
  background: url("../img/css_sprites2x.png") -960px -10px; }

.bg-footer_email_icon_3 {
  width: 96px;
  height: 96px;
  background: url("../img/css_sprites2x.png") -762px -572px; }

.bg-footer_email_icon_3_hover {
  width: 96px;
  height: 96px;
  background: url("../img/css_sprites2x.png") -538px -382px; }

.bg-footer_email_icon_4 {
  width: 96px;
  height: 94px;
  background: url("../img/css_sprites2x.png") -960px -124px; }

.bg-footer_email_icon_4_hover {
  width: 96px;
  height: 94px;
  background: url("../img/css_sprites2x.png") -960px -238px; }

.bg-footer_email_icon_5 {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites2x.png") -10px -968px; }

.bg-footer_email_icon_5_hover {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites2x.png") -958px -892px; }

.bg-footer_email_icon_6 {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites2x.png") -892px -892px; }

.bg-footer_email_icon_6_hover {
  width: 46px;
  height: 46px;
  background: url("../img/css_sprites2x.png") -826px -892px; }

.bg-header_menu_icon_1 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -160px -892px; }

.bg-header_menu_icon_1_hover {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -678px -892px; }

.bg-header_menu_icon_2 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -752px -892px; }

.bg-header_menu_icon_2_hover {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -604px -892px; }

.bg-header_menu_icon_3 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -530px -892px; }

.bg-header_menu_icon_3_hover {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -456px -892px; }

.bg-header_menu_icon_4 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -382px -892px; }

.bg-header_menu_icon_4_hover {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -436px; }

.bg-header_menu_icon_5 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -308px -892px; }

.bg-header_menu_icon_5_hover {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -86px -892px; }

.bg-header_menu_icon_6 {
  width: 54px;
  height: 54px;
  background: url("../img/css_sprites2x.png") -234px -892px; }

.bg-price_logo_1 {
  width: 38px;
  height: 38px;
  background: url("../img/css_sprites2x.png") -204px -968px; }

.bg-price_logo_2 {
  width: 36px;
  height: 36px;
  background: url("../img/css_sprites2x.png") -960px -836px; }

.bg-shop_1 {
  width: 64px;
  height: 64px;
  background: url("../img/css_sprites2x.png") -960px -352px; }

.bg-shop_2 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -596px; }

.bg-shop_3 {
  width: 56px;
  height: 56px;
  background: url("../img/css_sprites2x.png") -10px -892px; }

.bg-shop_4 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -422px -404px; }

.bg-shop_5 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -422px -324px; }

.bg-shop_soc_1 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -878px -572px; }

.bg-shop_soc_1_hover {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -756px; }

.bg-shop_soc_2 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -676px; }

.bg-shop_soc_2_hover {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -960px -516px; }

.bg-shop_soc_3 {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -422px -244px; }

.bg-shop_soc_3_hover {
  width: 60px;
  height: 60px;
  background: url("../img/css_sprites2x.png") -654px -382px; }

.bg-tutorial_img_1 {
  width: 132px;
  height: 164px;
  background: url("../img/css_sprites2x.png") -608px -500px; }

.bg-tutorial_img_1_hover {
  width: 132px;
  height: 164px;
  background: url("../img/css_sprites2x.png") -322px -698px; }

.bg-tutorial_img_2 {
  width: 180px;
  height: 178px;
  background: url("../img/css_sprites2x.png") -210px -500px; }

.bg-tutorial_img_2_hover {
  width: 180px;
  height: 178px;
  background: url("../img/css_sprites2x.png") -10px -500px; }

.bg-tutorial_img_3 {
  width: 162px;
  height: 162px;
  background: url("../img/css_sprites2x.png") -762px -390px; }

.bg-tutorial_img_3_hover {
  width: 162px;
  height: 162px;
  background: url("../img/css_sprites2x.png") -762px -208px; }

.bg-tutorial_img_4 {
  width: 148px;
  height: 140px;
  background: url("../img/css_sprites2x.png") -642px -698px; }

.bg-tutorial_img_4_hover {
  width: 148px;
  height: 140px;
  background: url("../img/css_sprites2x.png") -474px -698px; }

.bg-tutorial_img_5 {
  width: 136px;
  height: 174px;
  background: url("../img/css_sprites2x.png") -166px -698px; }

.bg-tutorial_img_5_hover {
  width: 136px;
  height: 174px;
  background: url("../img/css_sprites2x.png") -10px -698px; }

.bg-tutorial_img_6 {
  width: 178px;
  height: 178px;
  background: url("../img/css_sprites2x.png") -410px -500px; }

.bg-tutorial_img_6_hover {
  width: 178px;
  height: 178px;
  background: url("../img/css_sprites2x.png") -762px -10px; }
