@font-face {
  font-family: "avenir-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Bold.eot");
  src: url("../fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "avenir-demibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Demi.eot");
  src: url("../fonts/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype"); }

@font-face {
  font-family: "avenir-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: .02em;
  font-family: "avenir-medium", sans-serif; }

h1, h2, h3, h4, h5, p {
  color: #2d2d2d; }
  h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, p::-moz-selection {
    background-color: #f00; }
  h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, p::selection {
    background-color: #f00; }

.body-overflow {
  overflow: hidden; }

h1, h2, h3 {
  font-family: "avenir-bold", sans-serif; }

h4, h5, p {
  font-weight: 100; }

h1, h2 {
  text-transform: uppercase; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px;
  font-weight: 900; }
  h2 span.red {
    color: #f00;
    font-family: "avenir-bold", sans-serif; }

h3 {
  font-size: 24px;
  font-weight: 100; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-size: 14px; }

span.red {
  color: #f00; }

div[class*=".bg-"] {
  margin: 0;
  cursor: pointer; }

.btn {
  height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #fff;
  background-color: inherit;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .btn__red {
    text-align: center;
    border: 1px solid #f00;
    background-color: #f00;
    font-family: "avenir-demibold"; }
  .btn__red:hover {
    background-color: #fff;
    color: #f00;
    border: 1px solid #f00; }
  .btn__white {
    background-color: inherit;
    border: 1px solid #f00;
    color: #f00;
    font-size: 16px;
    font-weight: bold;
    font-family: "avenir-demibold"; }
  .btn__white:hover {
    background-color: #f00;
    border: 1px solid #f00;
    color: #fff; }

input[type="text"] {
  height: 40px;
  padding: 5px 15px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: none;
  outline: none; }

button {
  outline: none; }

select {
  outline: none; }

.left_arrow {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 8px;
  height: 8px;
  border-left: 3px solid #f00;
  border-bottom: 3px solid #f00;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.left_arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 3px solid #f00;
  border-bottom: 3px solid #f00;
  content: "";
  left: -14px;
  top: 11px; }

.left_arrow::after {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 3px solid #f00;
  border-bottom: 3px solid #f00;
  content: "";
  left: 8px;
  bottom: 8px; }

.wrap {
  margin: 0 auto;
  max-width: 1280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.active {
  color: #f00; }

.modal {
  background-color: #FFF;
  text-align: center;
  color: #000;
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  top: 30%;
  width: 512px; }
  .modal .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .modal .content .head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      height: 50px;
      background-color: #2d2d2d;
      margin-bottom: 35px;
      position: relative; }
      .modal .content .head h5 {
        font-family: "avenir-bold", sans-serif;
        text-transform: uppercase;
        color: #fff; }
      .modal .content .head .close {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 35%;
        -webkit-transform: translate(0, -20%);
            -ms-transform: translate(0, -20%);
                transform: translate(0, -20%);
        cursor: pointer; }
        .modal .content .head .close span {
          display: block;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          width: 20px;
          height: 3px;
          background-color: #f00;
          top: 10px;
          position: relative; }
          .modal .content .head .close span::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 3px;
            background-color: #f00;
            -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
            top: 0px;
            left: 0px; }
    .modal .content button {
      margin-top: 10px;
      margin-bottom: 30px; }
      .modal .content button a {
        font-size: 16px; }
    .modal .content input {
      margin-bottom: 25px;
      height: 33px;
      width: 380px;
      border: 1px solid #2d2d2d; }

header {
  background-color: #f00; }
  header .wrap:nth-child(1) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    height: 42px;
    background-color: #f00; }
    header .wrap:nth-child(1) aside {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    header .wrap:nth-child(1) aside:nth-child(1) {
      width: 100%;
      height: 42px;
      background-color: #555555;
      position: absolute;
      left: -26.5%;
      -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
              transform: skewX(-45deg);
      overflow: none; }
    header .wrap:nth-child(1) aside:nth-child(2) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding: 0 30px;
      width: 50%;
      height: 42px;
      background-color: #2d2d2d;
      position: absolute;
      left: 25%;
      -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
              transform: skewX(-45deg); }
      header .wrap:nth-child(1) aside:nth-child(2) button {
        margin: 0;
        padding: 0;
        height: 30px;
        width: 150px;
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg);
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        text-align: center; }
      header .wrap:nth-child(1) aside:nth-child(2) button:hover {
        background-color: #f00;
        border: 1px solid #f00; }
      header .wrap:nth-child(1) aside:nth-child(2) span {
        color: #fff;
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg); }
      header .wrap:nth-child(1) aside:nth-child(2) div {
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg); }
      header .wrap:nth-child(1) aside:nth-child(2) a {
        color: #fff;
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg); }
    header .wrap:nth-child(1) aside:nth-child(3) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 20%;
      position: absolute;
      right: 2%;
      height: 42px; }
  header div[class*=".bg-"] {
    margin-right: 5px; }

.header_menu nav {
  color: #2d2d2d; }
  .header_menu nav ul, .header_menu nav li {
    display: inline-block; }
    .header_menu nav ul li, .header_menu nav li li {
      position: relative;
      padding: 0 20px; }
    .header_menu nav ul li::before, .header_menu nav li li::before {
      position: absolute;
      left: 10px;
      top: 35%;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      content: " ";
      width: 5px;
      height: 5px;
      border-left: 2px solid #2d2d2d;
      border-bottom: 2px solid #2d2d2d; }
    .header_menu nav ul li:hover, .header_menu nav li li:hover {
      color: #f00; }
    .header_menu nav ul li:hover::before, .header_menu nav li li:hover::before {
      border-left: 2px solid #f00;
      border-bottom: 2px solid #f00; }
    .header_menu nav ul .dropdown, .header_menu nav li .dropdown {
      z-index: 10;
      position: absolute;
      padding: 15px 20px;
      left: -20px;
      display: none;
      width: 245px;
      background-color: #fff; }
      .header_menu nav ul .dropdown ul li, .header_menu nav li .dropdown ul li {
        color: #2d2d2d;
        display: block;
        margin-bottom: 8px;
        padding-bottom: 4px;
        border-bottom: 1px solid #2d2d2d; }
      .header_menu nav ul .dropdown ul li:last-child, .header_menu nav li .dropdown ul li:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0; }
      .header_menu nav ul .dropdown ul li:hover, .header_menu nav li .dropdown ul li:hover {
        color: #f00;
        border-bottom: 1px solid #f00; }
      .header_menu nav ul .dropdown ul li:last-child:hover, .header_menu nav li .dropdown ul li:last-child:hover {
        color: #f00;
        border: none; }
    .header_menu nav ul li:nth-child(1):hover .dropdown, .header_menu nav li li:nth-child(1):hover .dropdown {
      display: block; }

.header_menu .wrap {
  background-color: #fff;
  height: 70px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .header_menu .wrap aside {
    position: absolute;
    background-color: #2d2d2d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 100px;
    width: 100%;
    height: 100%;
    left: -79%;
    -webkit-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
            transform: skewX(-45deg); }
    .header_menu .wrap aside a {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      -webkit-transform: skewX(45deg);
          -ms-transform: skewX(45deg);
              transform: skewX(45deg);
      font-size: 30px;
      color: #fff; }
  .header_menu .wrap aside:last-child {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    max-width: 300px;
    left: -5%;
    background-color: #f00; }
    .header_menu .wrap aside:last-child div, .header_menu .wrap aside:last-child a {
      -webkit-transform: skewX(45deg);
          -ms-transform: skewX(45deg);
              transform: skewX(45deg);
      margin-right: 30px; }
    .header_menu .wrap aside:last-child div:hover {
      background: url("../img/css_sprites.png") -443px -491px; }
    .header_menu .wrap aside:last-child a {
      color: #fff;
      font-family: "avenir-bold", sans-serif; }
  .header_menu .wrap nav {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 25%;
    height: 100%; }

.header_menu .menu_burger {
  display: none;
  width: 30px;
  height: 20px; }

.head-bg {
  background-image: url("../img/product_header_bg.jpg");
  background-position: left;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 175px;
  padding-bottom: 95px;
  background-repeat: no-repeat; }
  .head-bg .wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .head-bg .text h2 {
    color: #fff; }

.topnav nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .topnav nav ul {
    margin: 30px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .topnav nav ul li {
      position: relative;
      margin: 0 25px; }
    .topnav nav ul li:first-child {
      margin-left: 0; }

.topnav nav:nth-child(1) {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .topnav nav:nth-child(1) ul:nth-child(1) li::before {
    content: " ";
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #2d2d2d;
    border-bottom: 2px solid #2d2d2d;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 35%;
    left: -25px; }
  .topnav nav:nth-child(1) ul:nth-child(1) li:first-child::before {
    border: none; }
  .topnav nav:nth-child(1) ul:nth-child(2) li:last-child::after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #2d2d2d;
    border-bottom: 2px solid #2d2d2d;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: 35%;
    left: 20px; }

.preview__car {
  margin-bottom: 95px; }

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .wrap section:nth-child(1) .head {
    background-color: #f00;
    margin-bottom: 30px; }
  .wrap section:nth-child(1) h2 {
    text-align: center;
    font-size: 30px;
    color: #fff; }
  .wrap section:nth-child(1) .descr {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .wrap section:nth-child(1) .descr h5 {
      margin: 12px 0;
      width: 90px;
      margin-left: 30px; }
    .wrap section:nth-child(1) .descr h5:last-child {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .wrap section:nth-child(1) .descr button {
      max-width: 230px;
      margin-top: 35px;
      height: 33px;
      width: 100%; }
      .wrap section:nth-child(1) .descr button a {
        font-weight: bold; }
    .wrap section:nth-child(1) .descr .btn__white a {
      font-size: 18px; }
  .wrap section:nth-child(1) .descr:last-child {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 15px; }
    .wrap section:nth-child(1) .descr:last-child div {
      margin-right: 20px; }
  .wrap section:nth-child(2) .img {
    position: relative;
    max-width: 875px;
    width: 100%; }
    .wrap section:nth-child(2) .img .img-slide {
      margin-bottom: 15px;
      width: 100%;
      display: block; }
      .wrap section:nth-child(2) .img .img-slide img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
           object-fit: cover;
        display: block; }
    .wrap section:nth-child(2) .img .bg-shop_1 {
      position: absolute;
      right: 50px;
      bottom: 30px; }
  .wrap section:nth-child(2) .img:hover .bg-shop_1 {
    display: block; }
  .wrap section:nth-child(2) .gallery {
    max-width: 875px;
    width: 100%; }
    .wrap section:nth-child(2) .gallery .img-gallery-slide {
      margin: 0 7px;
      max-width: 140px;
      width: 100%; }
      .wrap section:nth-child(2) .gallery .img-gallery-slide:first-child {
        margin-left: 0; }
      .wrap section:nth-child(2) .gallery .img-gallery-slide:last-child {
        margin-right: 0; }
      .wrap section:nth-child(2) .gallery .img-gallery-slide img {
        width: 100%;
        height: auto;
        display: block; }
    .wrap section:nth-child(2) .gallery .slick-dots {
      position: absolute;
      list-style: none;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      bottom: -40px; }
      .wrap section:nth-child(2) .gallery .slick-dots .slick-active button {
        color: #f00; }
      .wrap section:nth-child(2) .gallery .slick-dots button {
        border: none;
        background-color: inherit;
        margin: 0 5px;
        cursor: pointer; }
  .wrap .img-product-slider1 .img-slide {
    position: relative; }
  .wrap .img-product-slider1 .bg-shop_1 {
    position: absolute;
    right: 50px;
    bottom: 30px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .wrap .img-product-slider1 .bg-shop_1:hover {
      -webkit-transform: scale(1.1) rotate(15deg);
          -ms-transform: scale(1.1) rotate(15deg);
              transform: scale(1.1) rotate(15deg); }
  .wrap .modal {
    width: auto; }
    .wrap .modal .head {
      position: relative; }
    .wrap .modal #close {
      position: absolute;
      cursor: pointer;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .wrap .modal div {
      background-color: #e8e8e8;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .wrap .modal div section:first-child {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 35px; }
        .wrap .modal div section:first-child input {
          width: 180px;
          height: 38px;
          padding-left: 15px;
          border: none;
          -webkit-border-radius: 20px;
                  border-radius: 20px; }
      .wrap .modal div section:last-child {
        padding: 0 35px;
        text-align: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .wrap .modal div section:last-child textarea {
          width: 330px;
          border: none;
          padding: 10px 15px;
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          outline: none;
          margin-bottom: 2px;
          resize: none; }
  .wrap .popupImg {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 49; }
    .wrap .popupImg .popupLayer {
      position: absolute;
      z-index: 50;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8); }
    .wrap .popupImg .popup-wr {
      position: absolute;
      z-index: 51;
      padding: 20px;
      max-width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      .wrap .popupImg .popup-wr .close {
        position: absolute;
        z-index: 50;
        right: -10px;
        top: -10px;
        cursor: pointer; }

.description {
  background-color: #e8e8e8; }
  .description .wrap {
    padding: 60px 0; }
    .description .wrap section {
      width: 50%; }
      .description .wrap section h2 {
        text-align: left;
        margin-bottom: 60px;
        font-size: 36px;
        color: #2d2d2d; }
      .description .wrap section h5 {
        max-width: 550px; }

.feedbacks {
  padding-top: 100px; }
  .feedbacks .wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .feedbacks .wrap h2 {
      font-size: 36px;
      margin-bottom: 65px; }
    .feedbacks .wrap form {
      width: 640px; }
      .feedbacks .wrap form textarea {
        width: 100%;
        height: 190px;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        padding: 15px;
        outline: none;
        margin-bottom: 35px;
        resize: none; }
      .feedbacks .wrap form .inputs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 50px; }
        .feedbacks .wrap form .inputs input {
          width: 30%;
          border: 1px solid #A8A8A8;
          height: 37px; }
        .feedbacks .wrap form .inputs button {
          margin: 0;
          height: 37px; }
    .feedbacks .wrap .fbMessage header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 500px;
      background-color: inherit;
      margin-bottom: 25px; }
      .feedbacks .wrap .fbMessage header h4:nth-child(1) {
        font-weight: 700; }
      .feedbacks .wrap .fbMessage header h4 {
        color: #555555;
        font-family: "avenir-medium", sans-serif;
        margin-right: 30px; }
    .feedbacks .wrap .fbMessage main p {
      max-width: 950px; }
    .feedbacks .wrap .fbMessage button {
      margin-top: 30px;
      margin-bottom: 45px;
      width: 165px; }
    .feedbacks .wrap .lookMore {
      margin-bottom: 50px; }
      .feedbacks .wrap .lookMore a {
        font-size: 18px;
        font-family: "avenir-demibold", sans-serif;
        border-bottom: 2px solid #2d2d2d; }

@media (max-width: 999px) {
  .feedbacks {
    padding-top: 50px; } }

.menu_find {
  background-image: url("../img/menu_fing_question_bg_image.jpg");
  padding-top: 60px;
  padding-bottom: 50px;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

.find__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.find__text {
  text-align: center; }

.find__title {
  color: #fff; }

.find__title-sec {
  color: #fff;
  margin-bottom: 30px; }

.find__content-text {
  color: #fff;
  max-width: 950px;
  margin-bottom: 35px; }

.find__inputs {
  margin-bottom: 35px; }

.find__request {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.find__input-text {
  max-width: 330px;
  width: 100%; }

.find__button {
  max-width: 330px;
  width: 100%; }

.find__span {
  font-size: 36px; }

@media (max-width: 1199px) {
  .menu_find {
    padding-top: 30px;
    padding-bottom: 20px; }
  .find__title {
    font-size: 30px; }
  .find__span {
    font-size: 30px; } }

@media (max-width: 999px) {
  .find__title-sec {
    margin-bottom: 10px; }
  .find__input-text, .find__button {
    max-width: 250px; } }

@media (max-width: 767px) {
  .find__title {
    font-size: 20px; }
  .find__request {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .find__span {
    font-size: 20px;
    display: block; }
  .find__title-sec {
    font-size: 16px;
    margin-bottom: 35px; }
  .find__content-text {
    font-size: 14px;
    display: none; }
  .find__request {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .find__inputs {
    margin-bottom: 0;
    max-width: 80%; }
  .find__input-text {
    max-width: 100%;
    margin-bottom: 30px; }
  button.find__button {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 16px;
    height: 40px; } }

@media (max-width: 767px) {
  .find__title-sec {
    font-size: 13px; }
  button.find__button {
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 14px;
    height: 30px; } }

.menu_find {
  background-image: url("../img/product_menu_find.jpg"); }

.slick-slide {
  height: auto; }

.sold_stat__header {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px; }

.sold_stat__services div {
  margin-right: 10px; }

.sold_stat__services button {
  max-width: 50%;
  width: 100%; }

.left_arrow {
  position: relative;
  top: 15px; }

.footer_contacts {
  padding-top: 40px;
  background-image: url("../img/footer_bg_image.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .footer_contacts .wrap {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .footer_contacts .wrap .text h2 {
      color: #fff;
      font-size: 18px;
      padding-bottom: 40px; }
      .footer_contacts .wrap .text h2 span {
        font-size: 18px; }
    .footer_contacts .wrap section:nth-child(1) {
      width: 20%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      .footer_contacts .wrap section:nth-child(1) a {
        padding-bottom: 10px;
        color: #fff; }
      .footer_contacts .wrap section:nth-child(1) button {
        margin-top: 5px;
        height: 26px; }
    .footer_contacts .wrap section:nth-child(1)::before {
      position: absolute;
      left: 0;
      width: 22px;
      height: 22px;
      background: url("../img/css_sprites.png") -276px -541px;
      content: ""; }
      .footer_contacts .wrap section:nth-child(1)::before a {
        font-size: 16px; }
    .footer_contacts .wrap section:nth-child(1):hover::before {
      background: url("../img/css_sprites.png") -569px -434px; }
    .footer_contacts .wrap section:nth-child(2) {
      width: 80%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding: 0 200px; }
      .footer_contacts .wrap section:nth-child(2) aside {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer_contacts .wrap section:nth-child(2) aside a {
          margin-top: 20px;
          color: #fff;
          font-size: 16px;
          border-bottom: 1px solid #fff; }
      .footer_contacts .wrap section:nth-child(2) aside:hover a {
        color: #f00;
        border-bottom: 1px solid #f00; }
    .footer_contacts .wrap section:nth-child(3) {
      width: 20%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .footer_contacts .wrap section:nth-child(3) aside {
        position: relative;
        margin-bottom: 20px;
        width: 100%; }
        .footer_contacts .wrap section:nth-child(3) aside p {
          color: #fff;
          font-size: 16px; }
        .footer_contacts .wrap section:nth-child(3) aside a {
          color: #fff;
          font-size: 16px; }
        .footer_contacts .wrap section:nth-child(3) aside .sprite {
          margin-right: 15px; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(1)::before {
        position: absolute;
        left: -40px;
        top: 5px;
        width: 23px;
        height: 23px;
        background: url("../img/css_sprites.png") -233px -541px;
        content: ""; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(1):hover::before {
        background: url("../img/css_sprites.png") -190px -541px; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(2)::before {
        position: absolute;
        left: -40px;
        width: 23px;
        height: 23px;
        background: url("../img/css_sprites.png") -147px -541px;
        content: ""; }
      .footer_contacts .wrap section:nth-child(3) aside:nth-child(2):hover::before {
        background: url("../img/css_sprites.png") -104px -541px; }
  .footer_contacts .wrap aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .footer_contacts .wrap img {
    margin-left: 20px;
    margin-right: 15px; }
  .footer_contacts .wrap:nth-child(2) {
    padding-bottom: 60px; }

footer {
  background-color: #2d2d2d; }
  footer .wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px;
    position: relative; }
    footer .wrap .text h5 {
      color: #fff;
      padding: 10px 0; }
    footer .wrap section {
      position: relative; }
      footer .wrap section .left_arrow {
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff; }
      footer .wrap section .left_arrow::before {
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff; }
      footer .wrap section .left_arrow::after {
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff; }
    footer .wrap section:nth-child(1) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-right: 225px;
      background-color: #555555;
      width: 100%;
      left: -65%;
      -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
              transform: skewX(-45deg); }
      footer .wrap section:nth-child(1) .text {
        -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
                transform: skewX(45deg); }
