.credit_1l {
  background-color: #2d519b; }
  .credit_1l .wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 30px 0; }

.credit_2l {
  background-color: #db8b21; }
  .credit_2l .wrap h3 {
    padding: 5px 0;
    color: #fff;
    text-transform: uppercase;
    padding-left: 80px; }
