:root{
	--main-accent-color: #0edfdc;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.1em;
}
.wrapper{
	width: 100%;
	max-width: 1210px;
	margin: 0 auto;
}
p{
	font-size: 14px;
}
header{
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 10px;
}
.top_menu_adaptive{
		width: 26px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    top: 60px;
    right: 60px;
}
.top_menu_adaptive::before{
		width: 26px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    top: -10px;
    content: " ";
}
.top_menu_adaptive::after{
		width: 26px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    top: 10px;
    content: " ";
}
header img{
	max-width: 175px;
}
header ul{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
header li{
	position: relative;
	display: inline-block;
}
.list:hover .drop_down_list{
	display: flex;
	margin-top: 10px;
	vertical-align: middle;
	flex-direction: column;
	position: absolute;
	left: -50%;
	top: 20px;
	z-index: 100;
	background-color: white;
	width: 100%;
	border: 1px solid #c2caca;
	padding: 0 50px;
}
.drop_down_list{
	display: none;
}

.drop_down_list a{
	padding-top: 2px;
	padding-bottom: 16px;
	border-bottom: 1px solid #c2caca;
	display: inline-block;
}
.head_list > li::after{
	opacity: 0;
	text-align: center;
	display: block;
	position: relative;
	content: " ";
	top: 10px;
	left: 25%;
	width: 50%;
	height: 3px;
	background-color: var(--main-accent-color);
}
.head_list li:hover::after{
	transition: .5s;
	opacity: 1;
}
header a{
	font-weight: bold;
	text-decoration: none;
	color: black;
}
header::after{
	position: relative;
	top: 7px;
	font-size: 1px;
	display: block;
	width: 100%;
	height: 8px;
	content: " ";
	background-color: #0edfdc;
}
main{
	margin-top: 80px;
}
main p{
	line-height: 21px;
}
.main_wrap{
	display: flex;
}
.main_wrap section:nth-child(1){
	max-width: 70%;
	min-width: 70%;
}
.main_wrap section{
	min-width: 30%;
}
.main_wrap h1{
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.main_wrap h1:after{
	content: " ";
	position: relative;
	top: 8px;
	display: block;
	height: 4px;
	width: 56px;
	background-color: #0edfdc;
}
.h3{
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 14px;
}
aside{
	padding-right: 30px;
}
aside p{
	/*text-indent: 20px;*/
	margin-bottom: 40px;
}
aside h3{
	margin-bottom: 20px;
	font-size: 14px;
	text-transform: uppercase;
}
aside table{
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 60px;
}
aside table:after{
	position: absolute;
	margin-top: 30px;
	content: " ";
	background-color: #DCDCDC;
	display: block;
	width: 100%;
	height: 2px;
}

.h3_bg{
	color: white;
	padding-left: 30px;
	padding: 15px 30px;
	border-radius: 10px;
	background-color: var(--main-accent-color);
}
aside img{
	max-width: 285px;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	float: left;
}
aside img::after{
	clear: both;
	display: none;
}
figure p{
	margin: 0;
}
figure h3{
	padding-top: 40px;
	text-transform: uppercase;
}
.content_second_picture{
	float: right;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.section_two{
	font-size: 14px;
	text-transform: uppercase;
}
.section_two h2{
	font-weight: normal;
	font-size: 22px;
	padding-bottom: 30px;
}
.section_two h2::after{
	width: 100%;
	display: block;
	height: 1px;
	position: relative;
	top: 5px;
	background-color: var(--main-accent-color);
	content: " ";
}
.section_two h2{
	clear: both;
	text-transform: uppercase;
}
.section_two ul{
	margin-left: 30px;
	text-transform: uppercase;
	text-align: left;
}
.section_two li{
	padding: 10px 0;
	list-style: none;
	position: relative;
}
.section_two li::before{
	background-color: var(--main-accent-color);
	width: 7px;
	vertical-align: middle;
	height: 7px;
	border-radius: 50%;
	content: " ";
	font-size: 1px;
	position: absolute;
	display: inline-block;
	top: 43%;
	left: -20px;
}
.section_two p{
	padding-top: 10px;
	margin-bottom: 20px;
}
.img_wrap{
	margin: 20px 0;
}
.img_wrap img{
	min-width: 90px;
	width: calc(50% - 10px);
	margin-right: 5px;
	margin-bottom: 5px;
	/*max-width: 180px;*/
}
.img_wrap ~ img{
	width: 360px;
	max-width: 100%;
}
.section_two h3{
	margin: 15px 0;
	font-size: 13px;
	text-transform: uppercase;
}
footer{
	margin-top: 100px;
	background-color: #1dc3c1;
}
.header_foot img{
	display: flex;
	padding-top: 30px;
	padding-bottom: 40px;
	margin: 0 auto;
}
footer address{
	font-style: normal;
	color: white;
}
footer ul{
	list-style: none;
}
address{
	text-transform: uppercase;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-around;
}
address div{
	font-weight: bold;
	text-align: center;
	width: 250px;
}
address div a{
	color: white;
}
address div:nth-child(2) a{
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.3em;
	display: block;
	padding-bottom: 10px;
}
address div:nth-child(3) ul{
	display: flex;
	flex-direction: row;
	padding: 0 40px;
	justify-content: space-around;
	padding-top: 0;
}
address div:nth-child(3) a{
	font-size: 35px;
}
footer::after{
	background-color: #30e7e3;
	content: "Mozart clinic \00A9 \00A0 2017";
	display: block;
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
}