@font-face {
  font-family: "BreeSerif";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BreeSerif-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MyraidPro";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Myriad-Pro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype"); }

body {
  font-family: "Ubuntu"; }

.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }
  .sticky .container .row {
    padding: 0; }

.sticky + .sec_02 {
  padding-top: 152px; }

p {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "BreeSerif"; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 60px; }

h4 {
  font-size: 24px;
  text-transform: capitalize; }

a {
  text-decoration: none; }

ul > li {
  font-family: "MyraidPro";
  display: inline-block; }

.row {
  padding-bottom: 50px; }

.first-row {
  padding-top: 62px; }

.last-row {
  padding-bottom: 108px; }

button.button {
  background-color: inherit;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 12px 0; }
  button.button a {
    padding: 12px 17px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase; }

button.button:active {
  background-color: #fff;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 12px 0px; }
  button.button:active a {
    padding: 12px 17px;
    font-size: 20px;
    color: #4f5b5d;
    text-transform: uppercase; }

button.button_active {
  background-color: #fff;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 12px 0px; }
  button.button_active a {
    padding: 12px 17px;
    font-size: 20px;
    color: #4f5b5d;
    text-transform: uppercase; }

.sec_01 {
  background-color: #FFF; }
  .sec_01 .row {
    padding-top: 52px; }
  .sec_01 .icon img {
    width: 51px;
    height: auto; }
  .sec_01 .icon a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase; }
  .sec_01 .icon span {
    font-family: "BreeSerif";
    margin: auto 0;
    color: #4f5b5d;
    font-size: 40px;
    margin-left: 10px; }
  .sec_01 ul {
    text-align: right; }
  .sec_01 ul > li {
    position: relative;
    font-size: 18px;
    margin-right: 30px;
    text-transform: capitalize;
    padding: 15px 0;
    z-index: 2; }
    .sec_01 ul > li a {
      color: #035d6e; }
  .sec_01 .menu > li:nth-child(3)::before {
    width: 107px;
    height: 52px;
    background-color: #3a494c;
    content: " ";
    display: block;
    position: absolute;
    left: 10px;
    top: -6%;
    z-index: -1;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .sec_01 nav .dropdown:hover .dropdown-list {
    display: block; }
  .sec_01 nav .dropdown-list {
    margin-top: 10px;
    text-align: center;
    max-width: 100px;
    display: none;
    position: absolute; }
    .sec_01 nav .dropdown-list li {
      border-bottom: 2px solid #4f5b5d;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
    .sec_01 nav .dropdown-list li::before {
      background-color: inherit; }
    .sec_01 nav .dropdown-list li:hover {
      background-color: #98d2a4; }

.sec_02 {
  position: relative;
  min-height: 600px;
  color: #fff;
  background-image: url("../img/sec2_bg.jpg");
  background-position: 100% 45%;
  -webkit-background-size: cover;
          background-size: cover; }
  .sec_02 article {
    padding-top: 95px;
    padding-bottom: 93px; }
    .sec_02 article h1 {
      max-width: 500px;
      padding-bottom: 35px; }
    .sec_02 article p {
      max-width: 800px;
      line-height: 24px;
      padding-bottom: 35px; }
  .sec_02 .ind {
    bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .sec_02 .ind .slider_select {
      background-color: #fff; }
  .sec_02 .article_slides {
    display: none; }
  .sec_02 .slider-pos {
    cursor: pointer;
    margin: 5px;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .sec_02 .modal {
    text-align: center;
    color: #000;
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    top: 25%;
    max-width: 600px;
    max-height: 400px; }
    .sec_02 .modal .content {
      background-color: #FEFEFE;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
      .sec_02 .modal .content h4 {
        margin-bottom: 20px; }
      .sec_02 .modal .content button.button_active {
        border: 1px solid #4f5b5d;
        margin: 0 auto;
        display: block;
        cursor: pointer; }
        .sec_02 .modal .content button.button_active a {
          padding: 0 5px; }

.sec_03 .grid_4 {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .sec_03 .grid_4 p {
    line-height: 24px;
    padding: 0 15px; }
  .sec_03 .grid_4 h4 {
    padding-bottom: 25px; }
  .sec_03 .grid_4 img {
    padding-bottom: 25px; }

.sec_03 .grid_4:nth-child(2n-1) img {
  position: relative;
  margin-bottom: 12px; }

.sec_03 .grid_4:nth-child(2) {
  position: relative;
  top: -20px; }

.sec_04 {
  text-align: center;
  color: #fff;
  background-color: #98d2a4; }
  .sec_04 h2 {
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 10px; }
  .sec_04 p {
    margin: 0 auto;
    max-width: 600px; }
  .sec_04 .wrap {
    width: 100%;
    height: 277px; }
  .sec_04 .wrap1 {
    background-position: 50% 100%;
    background-image: url("../img/img_bar_1.jpg"); }
  .sec_04 .wrap2 {
    background-position: 55% 40%;
    background-image: url("../img/img_bar_2.jpg"); }
  .sec_04 .wrap3 {
    background-position: 25% 80%;
    background-image: url("../img/img_bar_3.jpg"); }
  .sec_04 .wrap4 {
    background-position: 0% 35%;
    background-image: url("../img/img_bar_4.jpg"); }
  .sec_04 .wrap5 {
    background-position: 60% 10%;
    background-image: url("../img/img_bar_5.jpg"); }
  .sec_04 .wrap6 {
    background-position: 20% 100%;
    background-image: url("../img/img_bar_6.jpg"); }
  .sec_04 .lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); }
    .sec_04 .lightbox img {
      max-width: 90%;
      max-height: 70%;
      margin-top: 10%; }
  .sec_04 .lightbox:target {
    display: block; }

@media (max-width: 414px) {
  .sticky {
    padding: 0; }
  .sec_01, .sec_03, .sec_02, .sec_04 {
    padding-left: 15px; } }

@media (max-width: 767px) {
  .sec_01 ul {
    text-align: center; }
  .sticky + .sec_02 {
    padding-top: 100px; }
  .icon span {
    font-size: 26px !important; }
  .icon img {
    width: 51px;
    max-height: 55px; } }

@media (max-width: 1023px) {
  .sec_01 ul > li {
    margin-right: 12px; }
  .icon img {
    width: 51px;
    max-height: 55px; }
  .icon span {
    font-size: 26px !important; } }
