@media (max-width: 414px) {
  .sticky {
    padding: 0; }
  .sec_01, .sec_03, .sec_02, .sec_04 {
    padding-left: 15px; } }

@media (max-width: 767px) {
  .sec_01 ul {
    text-align: center; }
  .sticky + .sec_02 {
    padding-top: 100px; }
  .icon span {
    font-size: 26px !important; }
  .icon img {
    width: 51px;
    max-height: 55px; } }

@media (max-width: 1023px) {
  .sec_01 ul > li {
    margin-right: 12px; }
  .icon img {
    width: 51px;
    max-height: 55px; }
  .icon span {
    font-size: 26px !important; } }
