.how_it_works {
  background-color: #e8e8e8; }
  .how_it_works .wrap {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .how_it_works .wrap .icon:nth-child(1):hover div[class*="bg"] {
      background: url("../img/css_sprites.png") -186px -384px; }
    .how_it_works .wrap .icon:nth-child(2):hover div[class*="bg"] {
      background: url("../img/css_sprites.png") -416px -210px; }
    .how_it_works .wrap .icon:nth-child(3):hover div[class*="bg"] {
      background: url("../img/css_sprites.png") -416px -10px; }
    .how_it_works .wrap .icon:nth-child(4):hover div[class*="bg"] {
      background: url("../img/css_sprites.png") -517px -10px; }
    .how_it_works .wrap .icon:nth-child(5):hover div[class*="bg"] {
      background: url("../img/css_sprites.png") -10px -384px; }
    .how_it_works .wrap .icon:nth-child(6):hover div[class*="bg"] {
      background: url("../img/css_sprites.png") -119px -275px; }
    .how_it_works .wrap .icon {
      margin-bottom: 150px;
      min-width: 100px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative; }
      .how_it_works .wrap .icon h4 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 140px;
        margin-top: 40px;
        text-align: center; }
      .how_it_works .wrap .icon .img {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 80px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .how_it_works .wrap .icon .img div[class*="bg"] {
          margin-left: 10px; }
      .how_it_works .wrap .icon .img::after {
        content: " ";
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 95px;
        left: -webkit-calc(50% - 8px);
        left: calc(50% - 8px);
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .how_it_works .wrap .icon .num {
        position: relative;
        margin-top: 50px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 2;
        text-align: center; }
        .how_it_works .wrap .icon .num span {
          font-size: 30px;
          font-weight: 900;
          color: #2d2d2d; }
        .how_it_works .wrap .icon .num span::before {
          position: absolute;
          z-index: -1;
          content: " ";
          background-color: #fff;
          width: 44px;
          height: 44px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          left: -13px; }
        .how_it_works .wrap .icon .num span::after {
          position: absolute;
          z-index: -1;
          content: " ";
          width: 54px;
          height: 54px;
          left: -20px;
          top: -7px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          border: 2px solid #fff; }
    .how_it_works .wrap .icon:hover h4 {
      color: #f00; }
    .how_it_works .wrap .icon:hover .img::after {
      border-left: 3px solid #f00;
      border-bottom: 3px solid #f00; }
    .how_it_works .wrap .text {
      text-align: center;
      margin: 60px 0; }
