.header_bg {
  height: -webkit-calc(100vh - 123px);
  height: calc(100vh - 123px);
  background-image: url("../img/header_bg_image.jpg");
  background-repeat: no-repeat;
  background-position: 50% 30%; }
  .header_bg .wrap {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 170px; }
  .header_bg .modal {
    background-color: #FFF;
    text-align: center;
    color: #000;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    top: 30%;
    width: 512px;
    height: 300px; }
    .header_bg .modal .content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header_bg .modal .content button {
        margin-top: 10px; }
        .header_bg .modal .content button a {
          font-size: 18px; }
      .header_bg .modal .content input {
        margin-bottom: 25px;
        height: 33px;
        width: 380px;
        border: 1px solid #2d2d2d; }

.text {
  position: relative; }
  .text h4 {
    width: 630px;
    padding: 15px; }
  .text button {
    margin-top: 90px;
    margin-left: 50%; }
