.header_bg {
  overflow: hidden;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .header_bg__slider {
    position: absolute;
    top: 0;
    left: 0; }
    .header_bg__slider .slick-arrow {
      position: absolute;
      z-index: 10;
      border: none;
      background-color: inherit;
      font-size: 0;
      width: 12px;
      height: 12px; }
    .header_bg__slider .slick-next {
      border-right: 3px solid #e5e5e5;
      border-bottom: 3px solid #e5e5e5;
      right: 16px;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(-45deg);
          -ms-transform: translateY(-50%) rotate(-45deg);
              transform: translateY(-50%) rotate(-45deg); }
    .header_bg__slider .slick-prev {
      left: 16px;
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(45deg);
          -ms-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg);
      border-left: 3px solid #e5e5e5;
      border-bottom: 3px solid #e5e5e5; }
    .header_bg__slider .slick-dots {
      width: 50px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      bottom: 20px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      left: 50%;
      position: absolute;
      z-index: 1;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .header_bg__slider .slick-dots button {
        width: 12px;
        height: 12px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: none;
        background-color: #9e9e9e;
        font-size: 0; }
      .header_bg__slider .slick-dots .slick-active button {
        background-color: #fff; }
  .header_bg__slide {
    position: relative;
    width: 100%; }
  .header_bg__img-wr {
    height: 100%;
    width: 100%; }
    .header_bg__img-wr img {
      width: 100%;
      display: block;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .header_bg__contant {
    max-width: 1200px;
    width: 100%;
    padding-top: 160px;
    padding-bottom: 267px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 250px;
    top: 0;
    z-index: 100;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .header_bg__title {
    margin-bottom: 48px; }
  .header_bg__text {
    line-height: 1.5em;
    font-size: 18px;
    max-width: 630px;
    margin-bottom: 95px; }
  .header_bg__button {
    margin-right: 90px; }

@media (max-width: 1919px) {
  .header_bg__contant {
    right: 100px; } }

@media (max-width: 1599px) {
  .header_bg__contant {
    right: 70px;
    padding-top: 100px;
    padding-bottom: 150px; }
  .header_bg__title {
    font-size: 44px;
    margin-bottom: 30px; }
  .header_bg__text {
    max-width: 540px;
    font-size: 16px; } }

@media (max-width: 1199px) {
  .header_bg__contant {
    right: 70px;
    padding-top: 80px;
    padding-bottom: 100px;
    right: 0; }
  .header_bg__title {
    font-size: 44px;
    margin-bottom: 30px; }
  .header_bg__text {
    max-width: 540px;
    font-size: 16px; } }

@media (max-width: 1023px) {
  .header_bg__contant {
    padding: 0 10%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header_bg__img-wr img {
    width: 150%; }
  .header_bg__title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px; }
  .header_bg__text {
    text-align: center;
    color: #fff;
    max-width: 540px;
    font-size: 14px;
    margin-bottom: 40px; }
  .header_bg__button {
    margin-right: 0; } }

@media (max-width: 767px) {
  .header_bg {
    min-height: 320px; }
    .header_bg__img-wr {
      height: 320px; }
    .header_bg__title {
      margin-bottom: 15px;
      font-size: 18px; }
    .header_bg__text {
      margin-bottom: 15px;
      font-size: 12px; } }
