.header_bg {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .header_bg__contant {
    margin-top: 130px;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .header_bg__contant button {
      margin-right: 85px; }
  .header_bg__title {
    margin-bottom: 48px; }
  .header_bg__text {
    font-size: 18px;
    max-width: 630px;
    margin-bottom: 95px; }
