.menu_find {
  background-image: url("../img/menu_fing_question_bg_image.jpg");
  padding-top: 60px;
  padding-bottom: 50px;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

.find__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.find__text {
  text-align: center; }

.find__title {
  color: #fff; }

.find__title-sec {
  color: #fff;
  margin-bottom: 30px; }

.find__content-text {
  color: #fff;
  max-width: 950px;
  margin-bottom: 35px; }

.find__inputs {
  margin-bottom: 35px; }

.find__request {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.find__input-text {
  max-width: 330px;
  width: 100%; }

.find__button {
  max-width: 330px;
  width: 100%; }

.find__span {
  font-size: 36px; }

@media (max-width: 1199px) {
  .menu_find {
    padding-top: 30px;
    padding-bottom: 20px; }
  .find__title {
    font-size: 30px; }
  .find__span {
    font-size: 30px; } }

@media (max-width: 999px) {
  .find__title-sec {
    margin-bottom: 10px; }
  .find__input-text, .find__button {
    max-width: 250px; } }

@media (max-width: 767px) {
  .find__title {
    font-size: 20px; }
  .find__request {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .find__span {
    font-size: 20px;
    display: block; }
  .find__title-sec {
    font-size: 16px;
    margin-bottom: 35px; }
  .find__content-text {
    font-size: 14px;
    display: none; }
  .find__request {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .find__inputs {
    margin-bottom: 0;
    max-width: 80%; }
  .find__input-text {
    max-width: 100%;
    margin-bottom: 30px; }
  button.find__button {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 16px;
    height: 40px; } }

@media (max-width: 767px) {
  .find__title-sec {
    font-size: 13px; }
  button.find__button {
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 14px;
    height: 30px; } }
