.menu_find {
  padding-top: 70px;
  padding-bottom: 115px;
  background-image: url("../img/menu_fing_question_bg_image.jpg");
  background-repeat: no-repeat; }
  .menu_find .wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 25px; }
    .menu_find .wrap .text {
      text-align: center; }
      .menu_find .wrap .text h2 {
        color: #fff; }
      .menu_find .wrap .text h3 {
        font-family: "avenir-medium", sans-serif;
        color: #fff; }
      .menu_find .wrap .text h5 {
        color: #fff;
        text-align: left;
        max-width: 900px;
        padding-top: 20px; }
    .menu_find .wrap .request {
      width: 1110px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .menu_find .wrap .request button {
        width: 260px; }
      .menu_find .wrap .request input {
        width: 340px; }
      .menu_find .wrap .request input:nth-child(3) {
        width: 260px; }
